{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="app-content" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">


    <h1 class="page-name">{% trans 'My Account' %}</h1>
</div>
</div>
</div>
    <ul class="nav nav-tabs" style="margin-bottom: 20px; margin-top: 20px;">
        <li class="{% block account_nav_profile %}{% endblock %}">
            <a href="{% url 'profile-detail' %}"><i class="fa fa-user"></i><span>
{% trans 'Profile' %}</span></a>
        </li>
        <li class="{% block account_nav_email %}{% endblock %}">
            <a href="{% url 'account_email' %}"><i class="fa fa-envelope-o"></i>
<span>{% trans 'E-mail Addresses' %}</span></a>
        </li>

        <li class="{% block account_nav_change_password %}{% endblock %}">
            <a href="{% url 'account_change_password' %}"><i class="fa fa-lock"></i>
<span>{% trans 'Change Password' %}</span></a>
        </li>

        <li class="{% block account_nav_addr_mgr %}{% endblock %}">
            <a href="{% url 'address-list' %}"><i class="fa fa-home"></i>
<span>{% trans 'Addresses' %}</span></a>
        </li>
        <li class="{% block account_nav_car %}{% endblock %}">
            <a href="{% url 'car-list' %}"><i class="fa fa-car"></i>
<span>{% trans 'Cars' %}</span></a>
        </li>
        <li class="{% block account_nav_appt %}{% endblock %}">
            <a href="{% url 'appt-list' %}"><i class="fa fa-calendar-check-o"></i>
<span>{% trans 'Appointments' %}</span></a>
        </li>
        {#  {% url 'socialaccount_connections' as connections_url %}#}
        {#  {% if connections_url %}#}
        {#  <li class="{% block account_nav_socialaccount_connections %}{% endblock %}">#}
        {#    <a href="{{ connections_url}}">{% trans 'Connected Accounts' %}</a>#}
        {#  </li>#}
        {#  {% endif %}#}
    </ul>
    {% block account_content %}
    {% endblock %}

{% endblock %}

