{% extends "account/base.html" %}


{% load bootstrap %}
{% load i18n %}
{#{% load my_flatpages_tags %}#}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="services swatch-yellow-black has-bottom">
     <div class="container">
        <div class="row">
<div class="col-lg-6 col-sm-6 col-xs-12 text-left">
    <h1 class="page-name">{% trans "Sign Up" %}</h1>

    <p style="padding-bottom:0px;">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <form id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|bootstrap }}
{#        {% if redirect_field_value %}#}
            <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'appt-choose-type' %}"/>
{#        {% endif %}#}
        <div class="checkbox">
            <label>
              <input type="checkbox" id="terms"> I agree to <a href="{% url 'terms' %}" target="_blank">Terms & Conditions</a>
            </label>
        </div>
        <div class="form-actions">
{#            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tosModal">#}
{#                {% trans "Sign Up" %}#}
{#            </button>#}
            <button type="submit" class="btn btn-primary signup-btn" disabled>{% trans "Sign Up" %}</button>
        </div>
    </form>

{#    <div class="modal fade" id="tosModal" tabindex="-1">#}
{#        <div class="modal-dialog modal-lg">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>#}
{#                    <h4 class="modal-title" id="myModalLabel">#}
{#                        Please accept our Terms of Service to continue with#}
{#                        registration#}
{#                    </h4>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    {% load_flat_page_content "/tos/" "static-content/tos.html" %}#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Decline</button>#}
{#                    <button type="button" class="btn btn-primary" onclick="$('#signup_form').submit()">Accept</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>
<div class="col-lg-6 col-sm-6 col-xs-12">
<img src="https://blog.ap.org/uploads/news/1200x1600text4-3Portrait.gif">
</div>
</div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#terms").click(function() {
            if ($("#terms").prop('checked')) {
                $(".signup-btn").prop('disabled', false)
            } else {
                $(".signup-btn").prop('disabled', true)
            }
        });
    });
</script>
{% endblock %}

{% block bootstrap3_extra_head %}{{ form.media }}{% endblock %}


