{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}
{#{% load bootstrap %}#}
{% load bootstrap3 %}

{% block title %}{% trans "Add Car" %}{% endblock %}

{% block account_nav_car %}active{% endblock %}


{% block account_content %}
<div class="app-content">
    <div class="container">
        <div class="row">
          <div class="col-lg-6">
    <div class="page-header" style="margin-top:0px;">
        <h1>Add Car</h1>
    </div>
    <div>
        {% bootstrap_form_errors form %}
    </div>
    <div class="well">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a href="{% url 'car-list' %}" class="btn btn-default">Cancel</a>
            <input class="btn btn-primary" type="submit" value="Add"/>
        </form>
    </div>
    </div>
         <div class="col-lg-6" style="padding-top:70px;">
           <img style="padding-bottom:40px;" src="{% static 'img/Fotolia_53424077_M.jpg' %}">
           <img src="{% static 'img/Fotolia_81725042_M.jpg' %}">
        </div>
    </div>
    </div>
    </div>
{% endblock %}
