<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title addr-name">{{ car }}</h3>

            <div class="dropdown pull-right">
                <button class="btn btn-link dropdown-toggle addr-options" type="button"
                        data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'car-edit' pk=car.pk %}">Edit</a></li>
                    <li class="divider"></li>
                    <li><a class="delete-addr" href="{% url 'car-delete' pk=car.pk %}">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>Make: {{ car.make }}</li>
                <li>Model: {{ car.model }}</li>
                <li>Year: {{ car.year }}</li>
                <li>Color: {{ car.color }}</li>
                <li>Plate: {{ car.plate }}</li>
                <li>Mileage: {{ car.mileage }}</li>

            </ul>
        </div>
    </div>
</div>