{% extends "account/base.html" %}


{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block account_nav_car %}active{% endblock %}

{% block bootstrap3_extra_head %}
    <style>
        h2 {
            margin-bottom: 20px;
        }

        .addr-options {
            padding: 0;
        }

        .panel-title.addr-name{
            display: inline-block;
        }

    </style>
{% endblock %}

{% block account_content %}
<div class="app-content">
    <div class="container">
        <div class="row">
    <div>
        <h2>
            My Cars
            <small>
                <a href="{% url 'car-add' %}">
                    <span class="glyphicon glyphicon-plus"></span> Add a car
                </a>
            </small>
        </h2>
        {% for car_group in cars %}
            <div class="row">
                {% for car in car_group %}
                    {% if car %}
                        {% include 'user_manager/car/car-block.html' %}
                    {% endif %}
                {% endfor %}

            </div>
        {% empty %}
            <p>You don't have any cars. Why don't you go ahead and
                <a href="{% url 'car-add' %}">add one?</a>
            </p>
        {% endfor %}
    </div>
</div>
</div>
</div>
{% endblock %}

