{% extends "account/base.html" %}


{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block account_nav_addr_mgr %}active{% endblock %}

{% block bootstrap3_extra_head %}
    <style>
        h2 {
            margin-bottom: 20px;
        }

        .addr-options {
            padding: 0;
        }

        .panel-title.addr-name{
            display: inline-block;
        }

    </style>
{% endblock %}

{% block account_content %}
    <div>
        <h2>
            My Addresses
            <small>
                <p>Add an address</p>
                <p>
                    <a href="{% url 'address-add-private' %}">
                        <span class="glyphicon glyphicon-plus">Private</span>
                    </a>
                </p>
                <p>
                    <a href="{% url 'address-add-shared' %}">
                        <span class="glyphicon glyphicon-plus">Shared</span>
                    </a>
                </p>
            </small>
        </h2>
        {% for addr_group in addresses %}
            <div class="row">
                {% for pl in addr_group %}
                    {% if pl %}
                        {% include 'user_manager/address_manager/addr-block.html' %}
                    {% endif %}
                {% endfor %}

            </div>
        {% empty %}
            <p>You don't have any addresses. Why don't you go ahead and add one?
            </p>
        {% endfor %}
    </div>
{% endblock %}

