<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title addr-name">
                {% if pl.privateparkinglocation %}
                    <i class="fa fa-home"></i>
                    {% else %}
                    <i class="fa fa-building"></i>
                {% endif %}

                {{ pl.get_full_name }}
            </h3>

            <div class="dropdown pull-right">
                <button class="btn btn-link dropdown-toggle addr-options" type="button"
                        data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu">
                    {% if pl.privateparkinglocation %}
                        <li><a href="{% url 'address-edit' pk=pl.pk %}">Edit</a></li>
                        <li class="divider"></li>
                    {% endif %}
                    <li><a class="delete-addr" href="{% url 'address-delete' pk=pl.pk %}">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>{{ pl.address.address1 }} {% if pl.address.address2 %}, {{ pl.address.address2 }}{% endif %}</li>
                <li>{{ pl.address.city }}, {{ addr.state }} {{ pl.address.postal_code.upper }}</li>
                <li>{{ pl.address.country }}</li>
            </ul>
        </div>
    </div>
</div>