packages:
  yum:
    postgresql93: []
    postgresql93-devel: []

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_createadmin:
    command: "python createadmin.py"
    leader_only: true
  03_loadservices:
    command: "python manage.py loaddata initial_services.json"
    leader_only: true
  04_collectstatic:
    command: "python manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "fourbrothers.settings"
    PYTHONPATH: "/opt/python/current/app/fourbrothers:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "fourbrothers/wsgi.py"
