packages:
  yum:
    postgresql93: []
    postgresql93-devel: []

container_commands:
  01_wsgireplace:
    command: 'cp wsgi.conf ../wsgi.conf'
  02_http_to_https_redirect:
    command:
      sed -i '/\<VirtualHost \*:80\>/a RewriteEngine On\nRewriteCond %{HTTP:X-Forwarded-Proto} !https\nRewriteRule \!/robots.txt https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]' /opt/python/ondeck/wsgi.conf
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true
  04_createadmin:
    command: "python createadmin.py"
    leader_only: true
  05_loadservices:
    command: "python manage.py loaddata initial_services.json"
    leader_only: true
  06_collectstatic:
    command: "python manage.py collectstatic --noinput"



option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "fourbrothers.settings"
    PYTHONPATH: "/opt/python/current/app/fourbrothers:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "fourbrothers/wsgi.py"
