{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
{% endblock %}


{% block no_container_content %}
<div class="services swatch-yellow-black has-bottom">
     <div class="container">
        <div class="row">
            <div class="col-lg-8 text-left">
                  <h1 class="page-name">What We're All About</h1>
                  <h2><span style="color:#FC9A00">Innovation.</span> <span style="color:#538AD1">Convenience.</span> <span style="color:#777">Efficiency.</span><h2>
                  <p>Four Brothers Auto Service is about the customer and the customer's valuable time. Mobile auto service is about never having to leave the comfort of your home or office.</p>
<p>We now offer our customers the option to have their vehicle serviced while they are not home! All you need to do is have your vehicle hood slightly open for oil changes and spare tires accessible for tire services.
                  </p>
            </div>
    </div>
  </div>
</div>
<div class="banner2">
     <div class="jumbotron">
    </div>
</div>
<div class="services swatch-yellow-black has-bottom">
     <div class="container">
        <div class="row">
            <div class="col-lg-6">
            <img src="{% static 'img/Fotolia_78037383_M.jpg' %}">
            </div> 
            <div class="col-lg-6 text-left" style="padding-top: 100px;">
            <h1>Our Commitment To You</h1>
                  <p style="padding-bottom: 5px;">Four Brothers Auto Service is a fully insured auto service company. This includes liability insurance up to $2,000,000.<br><br> In addition to taking the upmost care of your vehicle, we only use the very best products in the Auto Service industry.<br><br>
At Four Brothers Auto Service, we keep record of all of your vehicle’s previous service history, helping us keep as up-to-date as possible. We leave nothing to chance and make it our top priority to fulfill all commitments to our loyal customers.
                  </p>
                  <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book An Appointment!
            </a>
            </div>   
        </div>
      </div>
 </div>
 <div id="image-offset" class="col-lg-6 col-lg-offset-6">
 <img src="{% static 'img/Fotolia_53419226_M.jpg' %}">
 </div>
 <div id="how_to">
    <div class="container">
        <div class="row"style="padding-top:100px;">
            <div class="col-lg-4 text-center">
                <h2><span style="color:#777"><i class="fa fa-money" style="padding-right:5px;"></i></span></h2><h2>Loyalty Program</h2>
                 <p>Earn loyalty points on all our services and products. Four Brothers Auto Service offers a 5% loyalty discount on future purchases.</p>
            </div>
            <div class="col-lg-4 text-center">
                <h2><span style="color:#777"><i class="fa fa-scissors" style="padding-right:5px;"></i></span></h2><h2>Promotions</h2>
                 <p>We offer exclusive promotions to our customers. Sign-up for our newsletter to see our latest promotional offers.</p>
            </div>
             <div class="col-lg-4 text-center">
                <h2><span style="color:#777"><i class="fa fa-gift" style="padding-right:5px;"></i></span></h2><h2>Money Back Garantee</h2>
                 <p>We provide a 100% satisfaction guaranteed. Our job is not finished until you are fully satisfied with your auto service appointment.</p>
            </div>
        </div>
    </div>
</div>
<div class="services swatch-yellow-black has-bottom">
     <div class="container">
        <div class="row">
            <div class="col-lg-6">
            <img src="{% static 'img/Fotolia_92394023_M.jpg' %}">
            </div> 
            <div class="col-lg-6 text-left" style="padding-top: 10px;">
            <h1><span style="color:#5CB85C;"><i class="fa fa-recycle"></i></span>Environmentally Conscious</h1>
                  <p>
                  While we conduct our vehicle auto services, we strive to use products that are recyclable and environmentally friendly. We place a safety mat underneath the vehicle so that not a single drop of oil leaks onto the ground.  
                  <br><br>
                  During disposal, none of our oil products are shipped to landfill sites. We make sure that all of our used oil, filters and products are given to a reputable waste management company.
 
                  </p>
                  <a href="{% url 'appt-choose-type' %}"  style="margin-top:0px;" class="btn btn-primary btn-lg hvr-shrink">
                Book An Appointment!
            </a>
            </div>
            <div class="col-lg-6 text-left" style="padding-top: 100px;clear: both;">
            <h1>Trusted Products</h1>
              <p>We only use the very best products in the Auto Service Industry. Four Brothers Auto Service only uses NEW motor oil from top-quality motor oil companies, like Castrol.<br><br>We make sure that all our services and products are transparent and made as visible as possible to our loyal customers. <br><br>NEVER ANY HIDDEN FEES.</p>
              <a href="{% url 'appt-choose-type' %}" style="margin-top:0px;"  class="btn btn-primary btn-lg hvr-shrink">
                Book An Appointment!
            </a>
            </div>  
            <div class="col-lg-6" style="padding-top: 100px;">
            <img src="{% static 'img/trusted_products.jpg' %}">
            </div> 
        </div>
      </div>
 </div>
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}