{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
{% endblock %}


{% block no_container_content %}
<div class="about swatch-yellow-black has-bottom">
<div class="decor-top">
    <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 C50 100 50 100 100 0  L100 100 0 100" stroke-width="0">
        </path>
    </svg>
</div>
 <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row jumbotron" style="background:none;">
                    <h1>Join our team.</h1>
                </div>
            </div>
        </div>
    </div>
 </div>
 <div id="careers">
    <div class="container">
      <div class="angle right-corner top"></div>
        <div class="row">
            <div class="col-lg-12">
                <h1>Current Openings</h1>
                <hr style="border-color: rgb(255, 255, 255);">
                <div class="col-lg-8">
                <h2><i class="fa fa-wrench"></i>
Lube and Tire Technician</h2><h3>Part-Time | Toronto - Canada</h3>
                </div>
                <div class="col-lg-4">
                <h2 class="text-right"><a href="mailto:careers@fourbrothers.ca"><button type="button" class="btn btn-success apply-now">APPLY NOW</button></a></h2>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-8">
                <h2><i class="fa fa-line-chart"></i>
Marketing Manager</h2><h3>Full-Time | Toronto - Canada</h3>
                </div>
                <div class="col-lg-4">
                <h2 class="text-right"><a href="mailto:careers@fourbrothers.ca"><button type="button" class="btn btn-success apply-now">APPLY NOW</button></a></h2>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
            </div>
        </div>
       <div class="angle left-corner"></div>
    </div>
</div>
<div id="career_two">
     <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img style="max-width:100%;" src="http://www.premiumconsulting.com.au/Photo/hire_me_icon_256.png"/>
            </div>
            <div class="col-lg-6">
            <h1>How to Apply</h1>
                <p>Please click the "<span style="color:#5CB85C;">Apply Now</span>" button to send us an email. Include the job title within the subject line of your email and remeber to attach a resume and cover letter. Be sure to telll us a little bit about yourself!</p>

                <p style="font-size:12px;font-style:italic;">Four Brothers Auto Service is an equal opportunity employer that is committed to inclusion and diversity. We also take affirmative action to offer employment and advancement opportunities to all applicants. Four Brothers Auto Service is committed to working with and providing reasonable accommodation to applicants with physical and mental disabilities.</p>
            </div>
        </div>
      </div>
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}