{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
{% endblock %}


{% block no_container_content %}
<div class="services swatch-yellow-black has-bottom">
     <div class="container">
        <div class="row">
            <div class="col-lg-8 text-left">
                  <h1 class="page-name">Drop us a line!</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum risus at turpis tincidunt lobortis. Nunc suscipit semper tincidunt. Donec accumsan, diam vel rutrum malesuada, elit odio imperdiet purus, et mattis nunc arcu non diam. Pellentesque eget nisi at libero posuere dignissim ac ac sem. Nullam</p>
            </div>
    </div>
  </div>
</div>
<div id="how_to" class=" swatch-yellow-black has-bottom">
     <div class="container">
        <div class="row">
            <div class="col-lg-6">
             <div id="googlemaps2"><iframe src="https://www.google.com/maps/d/embed?mid=z5avF7RKDSEs.kpRb6xDYQWMo" width="640" height="480"></iframe>
 </div>
            </div> 
            <div class="col-lg-6 text-left" style="padding-top: 100px;">
            <h1>Our service area</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum risus at turpis tincidunt lobortis. Nunc suscipit semper tincidunt. Donec accumsan, diam vel rutrum malesuada, elit odio imperdiet purus, et mattis nunc arcu non diam. Pellentesque eget nisi at libero posuere dignissim ac ac sem. Nullam</p>
                  <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book An Appointment!
            </a>
            </div>   
        </div>
      </div>
 </div>
 <div class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-left">
                <h2>Business Hours</h2>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum risus at turpis tincidunt lobortis. Nunc suscipit semper tincidunt. Donec accumsan, diam vel rutrum malesuada, elit odio imperdiet purus, et mattis nunc arcu non diam. Pellentesque eget nisi at libero posuere digniss</p>
                 <h2>Holiday Hours</h2>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum risus at turpis tincidunt lobortis. Nunc suscipit semper tincidunt. Donec accumsan, diam vel rutrum malesuada, elit odio imperdiet purus, et mattis nunc arcu non diam. Pellentesque eget nisi at libero posuere digniss</p>
            </div>
            <div id="email-us" class="col-lg-8 text-left">
            <div class="col-lg-12 text-left">
                <h2>Email us.</h2>
            </div>
                  <div class="form-group">
                    <div class=" ">
                    <div class="col-lg-6 text-left">
                     <input  class=" form-control" id="id_email" name="email" placeholder="First Name" type="email">
                     </div>
                      <div class="col-lg-6 text-left">
                     <input  class=" form-control" id="id_email" name="email" placeholder="Last Name" type="email">
                     </div>
                      <div class="col-lg-6 text-left">
                     <input  class=" form-control" id="id_email" name="email" placeholder="Email" type="email">
                     </div>
                      <div class="col-lg-6 text-left">
                     <input  class=" form-control" id="id_email" name="email" placeholder="Subject" type="email">
                     </div>
                    </div>
                    </div>
                     <div class="col-lg-12 text-left">
                     <textarea class="form-control" cols="40" id="id_additional_info" name="additional_info" placeholder="Message" rows="10" title=""></textarea>
                   <div class="form-actions">
            <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}