{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
{% endblock %}


{% block no_container_content %}
<div class="services swatch-yellow-black has-bottom">
     <div class="container">
        <div class="row">
            <div class="col-lg-8 text-left">
                  <h1 class="page-name">Answers To Your Questions</h1>
                  <p>Please review the following frequently asked questions, if you can't find the answer you're looking for navigate to our contact page and send us an email with your inquiry.</p>
            </div>
    </div>
  </div>
</div>
 <div id="faq_tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="faq-toggle">
          <span class="num_faq">1</span>Safety Protocols?  
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       At Four Brothers Auto Service, we have the best safety procedures and policies implemented. Not only does Four Brothers Auto Service have qualified technicians, but only premium tools, equipment and products are used during service calls. The car technician will use a portable safety barrier to ensure no one comes within proximity of the car, as well as secure car jack to lift the vehicle if necessary. Also, our technicians use a heavy duty mat underneath the vehicle to prevent any fluid leaks. 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span class="num_faq">2</span>What Are Our Credentials? 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        All of our technicians are certified through an designated apprenticeship and many years of experience, and have worked with some of the most well-known Auto Service shops in Canada  
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span class="num_faq">3</span>Payment Process?  
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Payment will be collected at the end of scheduling your appointment through our on-line secure payment merchant, Stripe. Additionally, all payments are in accordance with all privacy laws and regulations. Your payment will include tax and the option for add a gratuity.
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <span class="num_faq">4</span>Do I have to be Home?   
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        We offer a service that includes servicing your vehicle when you are not at home. For example, for services such as an oil change, we just require that you leave your hood slightly open so that we can gain access to your car. Once we are finished, we make sure that your vehicle hood is securely closed. 
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <span class="num_faq">5</span> Larger Vehicles?   
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        We are currently only equipped to service light-duty vehicles. Unfortunately we cannot service vehicles larger than 3 tons that require a lift to perform auto services, which are considered to be trucks. 
      </div>
    </div>
  </div>
   </div>
   </div>
   <div class="col-lg-6">
   <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
 <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <span class="num_faq">6</span>Additional Services On-Site? 
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
         If you require additional auto services on-site, you will be able to pay the technician on-site for additional services and products.
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <span class="num_faq">7</span>Same Day Service? 
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        We require that all of our appointments be scheduled at least an hour before the selected time slot. Customers will not be able to select a time slot that is about to start within the hour. 
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          <span class="num_faq">8</span>Rescheduling or Cancelling My Appointment?  
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        If you choose to reschedule your appointment, you can simply sign-in to your account/profile and choose another date. All cancellations must be made within 24 hours of scheduling your appointment. There will be no charge for appointments that are cancelled within 24 hours. After 24 hours, you will not be able to cancel; however, you can reschedule.
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          <span class="num_faq">9</span>Change My Requested Services? 
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
       You are allowed to change your requested services and/or products only up to 24 hours after booking your appointment. However, you are allowed to add-on to an appointment at any time by scheduling a new appointment to complement an existing appointment. The reasoning behind this is that our technicians have pre-determined what supplies and equipment they need and may not be able to obtain the necessary supplies to fulfill your service change request. 
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          <span class="num_faq">10</span>Missed Appointment? 
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">
        If you miss a scheduled appointment or forget to open the hood of your car, please change your scheduled appointment as soon as possible. Once we arrive, we will call the given number multiple times and wait 10 minutes. If you do not arrive within that 10 minute period, we will be forced to leave for our next scheduled appointment. Unfortunately, you will still be charged for your appointment. Please take the necessary precautions so that you are not a charged for appointment that you missed. 
      </div>
    </div>
  </div>
  </div>
</div>
        </div>
    </div>
<div class="container">
        <div class="row">
            <div class="col-lg-12">
<div class="book-call">
    <h1>Ready to get started?</h1>
    <div style="text-align:left;">
                  <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                BOOK NOW
            </a>
                </div>
</div>
</div>
</div>
</div>
</div>
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}