{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
{% endblock %}


{% block no_container_content %}
<div class="services swatch-yellow-black has-bottom">
     <div class="container">
        <div class="row">
            <div class="col-lg-8 text-left">
                  <h1 class="page-name">Privacy Policy</h1>
                  <h2>General</h2>
                  <p>
                  Four Brothers Auto Service takes the upmost precaution and security when obtaining customer’s personal information. Four Brothers Auto Service does not distribute any personal information to outside parties unless it is absolutely necessary to conduct a scheduled appointment and/or any normal course of business activity. The customer’s personal information will be obtained during the online booking or during other forms of direct communication to the customer. 
                  </p>
                  <h2>Payment</h2>
                  <p>
                  As stated in the terms and conditions page, all payment information is held with a 3rd party (Stripe Inc.). If you would like to know more about how they store and encrypt payment information using their secure storing database, please visit https://stripe.com/ca. At Four Brothers Auto Service, we do not keep or store any of the credit card information. This is because we believe that it is a top priority to guarantee that Four Brothers Auto Service’s customer’s credit card information is secure.
                  </p>  
                  <h2>Personal Information Uses</h2>
                  <p>
                  Please also see the terms and conditions for other items that pertain to the privacy of your information, as well as conditions preventing customers or other individuals from participating in malicious activity against Four Brothers Auto Service. This also includes the acknowledgement that Four Brothers Auto Service will not use your personal information other than for its intended purpose. As such, your personal information will not be distributed to any outside parties other than Stripe Inc. (Credit card security company), which is used to ensure your credit card’s information security.<br><br> 
                  Your personal information will only be used during the following circumstances<br><br>
                  a)  To help perform the scheduled appointment<br>
                  b)  Sending you emails about your appointment<br>
                  c)  Promotions and newsletters<br> 
                  d)  To contact you about any appointment changes<br> 
                  e)  Email to thank you for your services and to keep you informed about other services<br>
                  f)  To send you a receipt<br> 
                  g)  Customer satisfaction surveys<br> 
                  h)  Emergency situations<br> 
                  i)  Any changes that involve you/or your account<br> 
                  j)  To resolve any issues/concerns<br>
                  k)  Discuss the cancellation of an appointment<br> 
                  l)  Career opportunities<br> 
                  m)  Reminders about your next scheduled appointment<br> 
                  n)  Any other course of action that warrants contacting the customer
                  </p>
                  <h2>Authorized Personnel</h2>
                  <p>
                  Only employees and authorized personnel will be able to access the personal information of customers. Authorized users will only be allowed to use personal information for business activity related to Four Brothers Auto Service. No 3rd party that does not have an interest in Four Brothers Auto Service will be allowed to contact the customer due to information given on fourbrothers.ca.
                  </p>
                  <h2>Website Cookies & Subscription</h2>
                  <p>
                  In regards to your usage on fourbrothers.ca, cookies may be used in order to retain your personal information for related business activities only. These cookies will only be used to make the customer experience more convenient, quicker and reduce errors. Using cookies will allow Four Brothers Auto Service to improve the user experience and reduce potential delays.<br><br>
                  By registering an appointment with Four Brothers Auto Service and our promotional newsletters, you will be agreeing to be sent emails from Four Brothers Auto Service for marketing purposes. If you ever choose that you no longer want to subscribe to Four Brothers Auto Service and do wish to continue to receive marketing emails, you can simply unsubscribe at the bottom promotional email.  
                  </p>
            </div>
    </div>
  </div>
</div>
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}