{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
{% endblock %}


{% block no_container_content %}
<div class="services swatch-yellow-black has-bottom">
     <div class="container">
        <div class="row">
            <div class="col-lg-8 text-left">
                  <h1 class="page-name">Privacy Policy</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum risus at turpis tincidunt lobortis. Nunc suscipit semper tincidunt. Donec accumsan, diam vel rutrum malesuada, elit odio imperdiet purus, et mattis nunc arcu non diam. Pellentesque eget nisi at libero posuere dignissim ac ac sem. Nullam</p>
                  <h2>Lorem Ipsum</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum risus at turpis tincidunt lobortis. Nunc suscipit semper tincidunt. Donec accumsan, diam vel rutrum malesuada, elit odio imperdiet purus, et mattis nunc arcu non diam. Pellentesque eget nisi at libero posuere dignissim ac ac sem. Nullam</p>
                  <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum risus at turpis tincidunt lobortis. Nunc suscipit semper tincidunt. Donec accumsan, diam vel rutrum malesuada, elit odio imperdiet purus, et mattis nunc arcu non diam. Pellentesque eget nisi at libero posuere dignissim ac ac sem. Nullam</p>
                  <h2>Lorem Ipsum</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum risus at turpis tincidunt lobortis. Nunc suscipit semper tincidunt. Donec accumsan, diam vel rutrum malesuada, elit odio imperdiet purus, et mattis nunc arcu non diam. Pellentesque eget nisi at libero posuere dignissim ac ac sem. Nullam</p>
            </div>
    </div>
  </div>
</div>
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}