{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
     <meta name=”description” content=”A description of the page” />
     <title>Products & Services</title>
    <meta name="robots" content="index,follow"> 
    <meta name="keywords" content="put your keywords here" /> 
{% endblock %}


{% block no_container_content %}
<div class="service-details">
     <div class="container">
        <div class="row">
            <div style="padding: 96px 0px;" class="col-md-offset-1 col-lg-11 text-left">
                 <img class="service-img" style="margin-top:-60px;" height="100%" src="{% static 'img/Car-Cleaning-Kit.png' %}">
            </div>
    </div>
  </div>
</div>
<div class="products-services">
           <div class="triple-banners">
<div class="container">
<div class="col-lg-12">
        <h1 class="page-name">INTERIOR DETAILING PACKAGES</h1>
        <p>All prices include all fees, including environmental fees, materials and delivery costs.</p>
        <p>More than three vehicles? Please contact us at info@fourbrothers.ca for special corporate rates.</p>
  </div>
  <!--Begin Plan Basic!-->
  <div class="col-lg-12" id="int-detail">
    <div class="klausbg col-md-2">
    <h6>PACKAGE <br>FEATURE</h6>
    <ul class="features-price-list">
    <h3 style="color:#000;" class="klaus_price skinonecolor">Price</h3>
     <h5>SAVINGS</h5>
     <li>Exterior, Tires, Rims</li>
     <li class="klaus_plancolor">Full Vacuum with Trunk</li>
     <li>Plastic and Vinyl</li>
     <li class="klaus_plancolor">Fabric Floor Mats</li>
     <li>Door & Door Jambs</li>
     <li class="klaus_plancolor">Febreeze Vent Air Freshener</li> 
     <li>Windows and Glass</li>
     <li class="klaus_plancolor">Rubber Floor Mats</li>
     <li>Carpet Shampoo</li>
     <li class="klaus_plancolor">Upholstery, Fabric/Leather</li>
     <li>Salt Stain Removal</li>
     <li class="klaus_plancolor">Spray Wax</li>
     <li>Basic Stain Removal</li>
     <li class="klaus_plancolor">Infant Child Mess</li>
     <li>Other Unforseen Messes</li>
     <li class="klaus_plancolor">Stain Removal</li>
    </ul>
    </div>
    <div class="klausbg  col-md-2">
    <h6>PREMIUM DELUXE<br>PACKAGE</h6>
      <ul class="features-price-list">
     <h3 class="klaus_price skinonecolor">$179</h3>
     <h5> - Save $100 - </h5>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li> 
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
    </ul>
     <a style="padding: 5px 5px;" href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
    </div>
    <div  style="background: #999;" class="klausbg white-icons col-md-2">
    <h6>FOUR BROTHERS PACKAGE <br>[BEST VALUE]</h6>
   <ul class="features-price-list">
     <h3 class="klaus_price skinonecolor">$119</h3>
     <h5 style="color: rgb(255, 255, 255);"> - Save $35 - </h5>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i></li> 
     <li><i class="fa fa-check-circle"></i></li>
     <li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="skinoneklaus_plancolor" >+ $19</li>
     <li >+ $39</li>
      <li class="skinoneklaus_plancolor">+ $39</li>
    </ul>
     <a style="padding: 5px 5px;" href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
    </div>
    <div class="klausbg  col-md-2">
    <h6>GOLD<br>PACKAGE</h6>
   <ul class="features-price-list">
     <h3 class="klaus_price skinonecolor">$79</h3>
     <h5> - Interior - </h5>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li> 
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor">+ $15</li>
     <li>+ $15</li>
     <li class="klaus_plancolor">+ $19</li>
     <li>+ $25</li>
     <li class="klaus_plancolor">+ $19</li>
     <li>+ $39</li>
      <li class="klaus_plancolor">+ $39</li>
    </ul>
     <a style="padding: 5px 5px;" href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
    </div>
    <div class="klausbg  col-md-2">
    <h6>TWO VEHICLES-FOUR BROTHERS PACKAGE</h6>
   <ul class="features-price-list">
     <h3 class="klaus_price skinonecolor">$215</h3>
     <h5> - Save 10% - </h5>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li> 
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor">+ $19</li>
     <li>+ $39</li>
      <li class="klaus_plancolor">+ $39</li>
    </ul>
     <a style="padding: 5px 5px;" href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
    </div>
        <div class="klausbg  col-md-2">
    <h6>THREE VEHICLES-FOUR BROTHERS PACKAGE</h6>
   <ul class="features-price-list">
     <h3 class="klaus_price skinonecolor">$305</h3>
     <h5> - Save 15% - </h5>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li> 
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor"><i class="fa fa-check-circle"></i></li>
     <li><i class="fa fa-check-circle"></i></li>
     <li class="klaus_plancolor">+ $19</li>
     <li>+ $39</li>
      <li class="klaus_plancolor">+ $39</li>
    </ul>
     <a style="padding: 5px 5px;" href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
    </div>

  </div>

</div>
</div>


<div class="service-details" style="display:none;">
     <div class="container">
        <div class="row">
            <div style="padding: 96px 0px;" class="col-md-offset-1 col-lg-11 text-left">
                 <img class="service-img" style="margin-top: -60px;" height="100%" src="{% static 'img/tirestack.png' %}">
            </div>
    </div>
  </div>
</div>
<div class="products-services" style="display:none;">
           <div class="triple-banners">
<div class="container">
<div class="col-lg-12">
        <h1 class="page-name">ADDITIONAL SERVICES</h1>
        <p>Tire Change Services are for ON-RIM only</p>
  </div>
  <div class="col-lg-4 text-center">
         <div class="product-back-color">
          <h1 class="text-uppercase">Single Tire Change</h1>
          <h3>$49.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">Tire Pressure Incl.
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                 Book Now
            </a>
       </div>
  </div>
   <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">COMPLETE TIRE CHANGE</h1>
          <h3>$ 69.99</h3>
          <h4>Tire Pressure Incl.</h4>
          <p class="text-uppercase">/per vehicle
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
        </div>
  </div>
   <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Tire Repair</h1>
          <h3>$59.99</h3>
          <h4>/per tire</h4>
          <p class="text-uppercase">Repair tire puncture & add pressure
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
        </div>
  </div>
       <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Tire Air Pressure</h1>
          <h3>$ 14.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">All four tires included. 
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                 Book Now
            </a>
         </div>
  </div>
       <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Tire Rotation</h1>
          <h3>$ 39.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">All four tires included. 
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                 Book Now
            </a>
         </div>
  </div>
   <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">CHANGE + STORAGE</h1>
          <h3>$ 144.99</h3>
          <h4>Tire Pressure Incl.</h4>
          <p class="text-uppercase">/per vehicle
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
         </div>
  </div>
   <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Wiper Blades & Installation</h1>
          <h3>$ 54.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">Includes 2 Michelin Stealth Wiper Blades & Install
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                 Book Now
            </a>
         </div>
  </div>
     <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Battery Boost</h1>
          <h3>$ 39.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">Give your battery a boost let us give you a charge.
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
         </div>
  </div>
     <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Vehicle Scuff & Scratch Repair</h1>
          <h3>$ 69.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">Minor scruffs and scratches. 
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
         </div>
  </div>
</div>
</div>
<div class="service-details" style="padding-bottom:40px;">
     <div class="container">
      <div class="col-lg-12">
        <h1 class="page-name" style="padding-top:50px;">PRODUCTS</h1>
        </div>
       <div class="col-lg-6 product-row">
         <div class="col-lg-4">
           <img src="{% static 'img/999999-6941987118330_1.jpg' %}">
          </div>
         <div class="col-lg-8">
         <div class="buy-contain">
          <h2 class="text-uppercase">Michelin Winter Safety Kit</h2>
          <h3>$34.99</h3>
          <p>-Includes: Travel Triangle Bag, 8 ft., 10 gauge Booster Cables, Car Blanket, LED Flashlight, 3 AAA Batteries, Knit Gloves, 30 pc. 1st Aid Kit, 5 pc.  Cable Tires, S.O.S. Sign<br>-BONUS: Complimentary Membership - 1 Year of 24-Hour Emergency Roadside Assitance (No membership fees good for 3 service calls)</p>
          </div>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
        </div>
        </div>
        <div class="col-lg-6 product-row">
         <div class="col-lg-4">
          <img src="{% static 'img/windex.png' %}">
          </div>
         <div class="col-lg-8">
          <div class="buy-contain">
          <h2 class="text-uppercase">Windex™ 3.78L All-Season Windshield Washer Fluid</h2>
          <h3>$5.49</h3>
          <p>-Non-smear windshield wash that produces a streak-free shine.<br>
              -Dissolves winter's ice, snow & frost. Cleans dirt, salt & road grime. Contains no phosphates.
              </p>
              </div>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
        <div style="clear:both;"></div>
        <hr>
         <div class="col-lg-6 product-row">
         <div class="col-lg-4">
          <img src="{% static 'img/1257077.jpg' %}">
          </div>
         <div class="col-lg-8">
          <div class="buy-contain">
          <h2 class="text-uppercase">Febreze Vent Air Freshener</h2>
          <h3>$3.99</h3>
          <p>-Car Vent Clips (linen & sky scent) eliminate odour, and provide a light fresh scent that is not overwhelming and does not fade quickly. Discrete size that melts into the dashboard.<br>
          -Includes 1 per package.
              </p>
              </div>
            <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
        <div class="col-lg-6 product-row">
         <div class="col-lg-4">
          <img src="{% static 'img/31nY4r2+TCL._SX300_.jpg' %}">
          </div>
         <div class="col-lg-8">
          <div class="buy-contain">
          <h2 class="text-uppercase">Ultimate-X 24" Ultra Snow Brush</h2>
          <h3>$8.99</h3>
          <p>-24” small snow brush<br>
          -Strong bristles, excellent for storage in a vehicle 
              </p>
              </div>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
        <div style="clear:both;"></div>
           <hr>
         <div class="col-lg-6 product-row">
         <div class="col-lg-4">
           <img src="{% static 'img/p_1000815593.jpg' %}">
          </div>
         <div class="col-lg-8">
          <div class="buy-contain">
          <h2 class="text-uppercase">Kraco Black Heavy Duty Car Floor Mats</h2>
          <h3>$32.99</h3>
          <p>-Customize fit for any vehicle. Rib-molded heel pad provides comfort and protection from extra wear. Raised border channels dirt and liquids. Tabs can be trimmed for a custom fit.<br>
            -Includes four mats: two front and two rear.
            </p>
            </div>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
      <div class="col-lg-6 product-row">
         <div class="col-lg-4">
          <img src="{% static 'img/064715211007_ca.jpg' %}">
          </div>
         <div class="col-lg-8">
          <div class="buy-contain">
          <h2 class="text-uppercase">Ice Patrol Salt (10kg)</h2>
          <h3>$5.99</h3>
          <p>-Sprinkle on steps, walkways, driveways, etc.<br>
            -Removes ice and snow the easiest possible way.
            </p>
            </div>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
           <hr>
    </div>
  </div>
</div>
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}