{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
{% endblock %}


{% block no_container_content %}
<div class="about swatch-yellow-black has-bottom">
<div class="decor-top">
    <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 C50 100 50 100 100 0  L100 100 0 100" stroke-width="0">
        </path>
    </svg>
</div>
 <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row jumbotron" style="background:none;">
                    <h1>What we offer.</h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor, nisi a rhoncus finibus, nisl arcu consectetur lorem, ac fringilla ex lorem sit amet magna. Nulla id posuere ipsum. Aenean lacinia scelerisque consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam dictum gravida euismod. Etiam sollicitudin risus nec lorem rhoncus elementum. Cras cursus faucibus quam. Nunc mollis sit amet magna sit amet tempus. Nullam scelerisque congue ante, at scelerisque nibh ultrices sed. Morbi viverra leo eu egestas vehicula.</p>
                </div>
            </div>
        </div>
    </div>
 </div>
 <div id="services_oil">
    <div class="container">
      <div class="angle right-corner top"></div>
        <div class="row">
            <div class="col-lg-12">
                <h1>Oil Services</h1>
                <hr style="border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h2>Conventional Oil [Full Service]</h2>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$54.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h2>Sythetic Oil [Full Service]</h2>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$85.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
            </div>
        </div>
       <div class="angle left-corner"></div>
    </div>
</div>
<div id="services_tire">
     <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Tire Services</h1>
                <hr>
                <div class="col-lg-12">
                <h2>Tire Change [Winter Tires & Exchange]</h2>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>On-Rims</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$49.99</h1>
                </div>
                <hr style="clear:both;">
                 <div class="col-lg-6">
                <h3>Off-Rims</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$149.99</h1>
                </div>
                <hr style="clear:both;">
                 <div class="col-lg-6">
                <h3>Tire Storage [with tire change]</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$49.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>Single Tire Change</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$39.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>Basic Tire Repair</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$49.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h2>Tire Air Pressure</h2>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$24.99</h1>
                </div>
                <hr style="clear:both;">
            </div>
        </div>
      </div>
<div class="angle right-corner" style="background:#fff;"></div>
</div>
 <div id="services_oil">
    <div class="container">
      <div class="angle right-corner top"></div>
        <div class="row">
            <div class="col-lg-12">
                <h1>Additional Services</h1>
                <hr style="border-color: rgb(255, 255, 255);">
                <div class="col-lg-12">
                <h2>Battery</h2>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h3>Battery Check</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$9.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h3>New Battery</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$89.99-$149.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h2>Fuel System Cleaning [Fuel Injector Cleaner]</h2>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$9.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h2>Filters [Air & Cabin Air Filter]</h2>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$39.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-12">
                <h2>Wiper Blades</h2>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h3>Regular</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$19.99 each</h1>
                <h2 class="text-right">$14.99 for Install</h2>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h3>Premium</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$29.99 each</h1>
                <h2 class="text-right">$14.99 for Install</h2>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-12">
                <h2>Windshield Repair</h2>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h3>Chip Repair</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$49.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h3>Crack Repair [up to 2ft]</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$69.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                 <div class="col-lg-12">
                <h2>Headlights | Taillights</h2>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                 <div class="col-lg-6">
                <h3>Basic</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$39.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h3>Premium</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$n/a</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-12">
                <h2>Clean & Detail</h2>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                <div class="col-lg-6">
                <h3>Dashboard Clean & Detail</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$4.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
                 <div class="col-lg-6">
                <h3>Seat Fabric Clean & Detail [Non-Leather]</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$4.99</h1>
                </div>
                <hr style="clear:both;border-color: rgb(255, 255, 255);">
            </div>
        </div>
       <div class="angle left-corner"></div>
    </div>
</div>
<div id="services_tire">
     <div class="container">
        <div class="row">
            <div class="col-lg-12">
                 <h1>Stand-alone Products</h1>
                <hr>
                 <div class="col-lg-12">
                <h2>Snow Bruch/Scraper </h2>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>Regular</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$12.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>Heavy Duty</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$22.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h2>Roadside Assistance Kit</h2>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$49.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-12">
                <h2>Flashlight</h2>
                </div>
                <div class="col-lg-6">
                <h3>Small</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$12.99</h1>
                </div>
                <hr style="clear:both;">
                 <div class="col-lg-6">
                <h3>Regular</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$19.99</h1>
                </div>
                <hr style="clear:both;">
                 <div class="col-lg-12">
                <h2>Car Air Freshner</h2>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>Hanger</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$2.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>Vent Clip</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$4.99</h1>
                </div>
                <hr style="clear:both;">
                 <div class="col-lg-6">
                <h2>Case of Water</h2>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$5.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-12">
                <h2>Rubber Car Mats Regular</h2>
                </div>
                <hr style="clear:both;">
                 <div class="col-lg-6">
                <h3>2-Piece Set [Front]</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$19.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>2-Piece Set [Rear]</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$14.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>4-Piece Set</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$29.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-12">
                <h2>Rubber Car Mats Premium</h2>
                </div>
                <hr style="clear:both;">
                 <div class="col-lg-6">
                <h3>2-Piece Set [Front]</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$34.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>2-Piece Set [Rear]</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$27.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>4-Piece Set</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$54.99</h1>
                </div>
                <hr style="clear:both;">
                 <div class="col-lg-12">
                <h2>Fluids [Product Alone]</h2>
                </div>
                <hr style="clear:both;">
                 <div class="col-lg-6">
                <h3>Conventional Oil</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$23.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>Synthetic Oil</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$39.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h3>Anti-Freeze</h3>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$29.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-12">
                <h3>Washer Fluid</h3>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h4>Regular</h4>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$3.49</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h4>All-Season</h4>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$4.99</h1>
                </div>
                <hr style="clear:both;">
                <div class="col-lg-6">
                <h4>De-Icer</h4>
                </div>
                <div class="col-lg-6">
                <h1 class="text-right">$4.99</h1>
                </div>
                <hr style="clear:both;">
            </div>
        </div>
      </div>
</div>      
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}