{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
{% endblock %}


{% block no_container_content %}
<div class="service-details">
     <div class="container">
        <div class="row">
            <div style="padding: 96px 0px;" class="col-md-offset-1 col-lg-11 text-left">
                 <img class="service-img" height="100%" src="{% static 'img/castrol-product.jpg' %}">
            </div>
    </div>
  </div>
</div>
<div class="products-services">
           <div class="triple-banners">
<div class="container">
  <!--Begin Plan Basic!-->
  <div class="col-md-3 klausbg hvr-float">
    <div class="klausheader">
    <h5>CONVENTIONAL</h5>
    <span class="klaus_package">package</span>
    <span class="klaus_price skinonecolor">$ 55.99</span>
    <p>/per oil change</p>
    </div>
    
    <div class="klaus_features skinoneklaus_features">
    <li><i class="fa fa-check-circle"></i>*New Engine Oil</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Chassis Lubrication</li>
    <li><i class="fa fa-check-circle"></i>New Oil Filter</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i> Visual Inspection</li>
    <li><i class="fa fa-check-circle"></i>**Fluid Top-Ups</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Earn Loyalty Points</li>
    </div>  
    
    <div class="klaus_getaquote skinonegetquote"><li><a href="#">GET A QUOTE</a></li></div>
  </div>
  <!--End Plan Basic!-->
  
  <!--Begin Plan Personal!-->
  <div class="col-md-3 klausbg hvr-float">
    <div class="klausheader">
    <h5>HIGH MILEAGE</h5>
    <span class="klaus_package">package</span>
    <span class="klaus_price skinonecolor">$ 65.99</span>
    <p>/per oil change</p>
    </div>
    
    <div class="klaus_features skinoneklaus_features">
    <li><i class="fa fa-check-circle"></i>*New Engine Oil</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Chassis Lubrication</li>
    <li><i class="fa fa-check-circle"></i>New Oil Filter</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i> Visual Inspection</li>
    <li><i class="fa fa-check-circle"></i>**Fluid Top-Ups</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Earn Loyalty Points</li>
    </div>  
    
    <div class="klaus_getaquote skinonegetquote"><li><a href="#">GET A QUOTE</a></li></div>
  </div>
  <!--End Plan Personal!-->
  
  <!--Begin Plan Business!-->
  <div class="col-md-3 klausbg hvr-float">
    <div class="klausheader">
    <div class="klaus_featured skinonebg">Featured</div>
    <h5>SYNTHETIC</h5>
    <span class="klaus_package">package</span>
    <span class="klaus_price skinonecolor">$ 85.99</span>
    <p>/per oil change</p>
    </div>
    
    <div class="klaus_features skinoneklaus_features">
    <li><i class="fa fa-check-circle"></i>*New Engine Oil</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Chassis Lubrication</li>
    <li><i class="fa fa-check-circle"></i>New Oil Filter</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i> Visual Inspection</li>
    <li><i class="fa fa-check-circle"></i>**Fluid Top-Ups</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Earn Loyalty Points</li>
    </div>  
    
    <div class="klaus_getaquote skinonegetquote"><li><a href="#">GET A QUOTE</a></li></div>
  </div>
  <!--End Plan Business!-->
  
  <!--Begin Plan Ultimate!-->
  <!--Begin Plan Ultimate!-->
  <div class="col-md-3 klausbg skinoneultimate hvr-float">
    <div class="klausheader skinoneucolor">
    <div style="background:#fff;color:#000;width: 200px;"class="klaus_featured skinonebg">SAVE OVER 10%</div>
    <h5>COMBO</h5>
    <span class="klaus_package">package</span>
    <span class="klaus_price skinonecolor">$ 115.99</span>
    <p>SYNTHETIC + BRONZE DETAIL</p>
    </div>
    
    <div class="klaus_features skinoneklaus_features skinoneucolor">
    <li><i class="fa fa-check-circle"></i>Sythetic Oil Package</li>
    <li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i>Interior Vaccuuming</li>
    <li><i class="fa fa-check-circle"></i>Interior Cleaning</li>
    <li class="skinoneklaus_plancolor"><i class="fa fa-times-circle"></i>Windsheild Cleaning</li>
    <li><i class="fa fa-times-circle"></i>Dashboard Cleaning</li>
    <li class="skinoneklaus_plancolor"><i class="fa fa-times-circle"></i>Vent Freshner</li>
    </div>  
    
    <div class="klaus_getaquote skinonegetquote skinoneucolorget"><li><a href="#">GET A QUOTE</a></li></div>
  </div>
    <div class="col-lg-12">
<p>*Up to 5L New Engine Oil, above 5L - larger vehicles $5.99 per extra L of Conventional Motor Oil, $6.99 per extra L of High Mileage Motor Oil, $9.99 per extra L of Synthetic Motor Oil<br>
**Fluid Top-Ups Incl. 1/2 L Anti Feeze, 2L Washer, 1/2 L ATF, & Power Steering Fluid</p>
  </div>
</div>
</div>
<div class="service-details">
     <div class="container">
        <div class="row">
            <div style="padding: 96px 0px;" class="col-md-offset-1 col-lg-11 text-left">
                 <img class="service-img" style="margin-top:-60px;" height="100%" src="{% static 'img/Car-Cleaning-Kit.png' %}">
            </div>
    </div>
  </div>
</div>
<div class="products-services">
           <div class="triple-banners">
<div class="container">
  <!--Begin Plan Basic!-->
  <div class="col-md-3 klausbg hvr-float">
    <div class="klausheader">
    <h5>BRONZE</h5>
    <span class="klaus_package">package</span>
    <span class="klaus_price skinonecolor">$ 39.99</span>
    <p>/per vehicle</p>
    </div>
    
    <div class="klaus_features skinoneklaus_features">
    <li><i class="fa fa-check-circle"></i>Interior Vacuum Cleaning</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Interior Cleaning</li>
    <li><i class="fa fa-check-circle"></i>Windsheild Cleaning</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Dashboard Cleaning</li>
    <li><i class="fa fa-check-circle"></i>Vent Freshner</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Earn Loyalty Points</li>
    </div>  
    
    <div class="klaus_getaquote skinonegetquote"><li><a href="#">GET A QUOTE</a></li></div>
  </div>
  <!--End Plan Basic!-->
  
  <!--Begin Plan Personal!-->
  <div class="col-md-3 klausbg hvr-float">
    <div class="klausheader">
    <h5>SILVER</h5>
    <span class="klaus_package">package</span>
   <span class="klaus_price skinonecolor">$ 55.99</span>
    <p>/per vehicle</p>
    </div>
    
    <div class="klaus_features skinoneklaus_features">
    <li><i class="fa fa-check-circle"></i>Interior Vacuum + Cleaning</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Windsheild + Dashboard Cleaning</li>
    <li><i class="fa fa-check-circle"></i>All Interior Window Cleaning</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Plastic + Vinyl Cleaning</li>
    <li><i class="fa fa-check-circle"></i>Vent Freshner + Fabric Freshner</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Earn Loyalty Points</li>
    </div>  
    
    <div class="klaus_getaquote skinonegetquote"><li><a href="#">GET A QUOTE</a></li></div>
  </div>
  <!--End Plan Personal!-->
  
  <!--Begin Plan Business!-->
  <div class="col-md-3 klausbg hvr-float">
    <div class="klausheader">
    <h5>GOLD</h5>
    <span class="klaus_package">package</span>
    <span class="klaus_price skinonecolor">$ 69.99</span>
    <p>/per vehicle</p>
    </div>
    <div class="klaus_features skinoneklaus_features">
    <li><i class="fa fa-check-circle"></i>Interior Vacuum + Cleaning</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Windsheild + Dashboard Cleaning</li>
    <li><i class="fa fa-check-circle"></i>All Interior Window Cleaning</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Plastic + Vinyl + Upholstery Cleaning</li>
    <li><i class="fa fa-check-circle"></i>Fabric Protection Coating</li>
    <li class="klaus_plancolor"><i class="fa fa-check-circle"></i>Vent Freshner + Fabric Freshner</li>
    </div>  
    
    <div class="klaus_getaquote skinonegetquote"><li><a href="#">GET A QUOTE</a></li></div>
  </div>
  <!--End Plan Business!-->
  
  <!--Begin Plan Ultimate!-->
  <!--Begin Plan Ultimate!-->
  <div class="col-md-3 klausbg skinoneultimate hvr-float">
    <div class="klausheader skinoneucolor">
      <div style="background:#fff;color:#000;width: 200px;"class="klaus_featured skinonebg">FEATURED</div>
    <h5>FOUR BROTHERS</h5>
    <span class="klaus_package">package</span>
    <span class="klaus_price skinonecolor">$75.99</span>
   <p>/per vehicle</p>
    </div>
     <div class="klaus_features skinoneklaus_features skinoneucolor">
    <li><i class="fa fa-check-circle"></i>Interior Vacuum + Cleaning</li>
    <li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i>Windsheild + Dashboard Cleaning</li>
    <li><i class="fa fa-check-circle"></i>All Interior Window Cleaning</li>
    <li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i>Plastic + Vinyl + Upholstery Cleaning</li>
    <li><i class="fa fa-check-circle"></i>Fabric Protection + Carpet Salt Clean</li>
    <li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i>Vent Freshner + Fabric Freshner</li>
    </div>  
    
    <div class="klaus_getaquote skinonegetquote skinoneucolorget"><li><a href="#">GET A QUOTE</a></li></div>
  </div>
</div>
</div>
<div class="service-details">
     <div class="container">
        <div class="row">
            <div style="padding: 96px 0px;" class="col-md-offset-1 col-lg-11 text-left">
                 <img class="service-img" style="margin-top: -60px;" height="100%" src="{% static 'img/tirestack.png' %}">
            </div>
    </div>
  </div>
</div>
<div class="products-services">
           <div class="triple-banners">
<div class="container">
  <div class="col-lg-4 text-center">
         <div class="product-back-color">
          <h1 class="text-uppercase">Single Tire Change</h1>
          <h3>$35.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">Balance Included
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
       </div>
  </div>
   <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">COMPLETE TIRE CHANGE</h1>
          <h3>$ 49.99 | $ 79.99</h3>
          <h4>No-Balance | Balance</h4>
          <p class="text-uppercase">/per vehicle
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
        </div>
  </div>
   <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Tire Repair</h1>
          <h3>$35.99</h3>
          <h4>/per tire</h4>
          <p class="text-uppercase">Safety Patch Seal
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
        </div>
  </div>
       <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Tire Air Pressure</h1>
          <h3>$ 24.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">All four tires included. 
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
         </div>
  </div>
       <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Tire Rotation</h1>
          <h3>$ 24.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">All four tires included. 
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
         </div>
  </div>
   <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">CHANGE + STORAGE</h1>
          <h3>$ 129.99 | $159.999</h3>
          <h4>No-Balance | Balance</h4>
          <p class="text-uppercase">/per vehicle
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
         </div>
  </div>
   <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Windshield Wiper Install</h1>
          <h3>$ 44.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">Includes 2 Wipers & Install
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
         </div>
  </div>
     <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Windshield Repair</h1>
          <h3>$ 69.99 | $ 99.99</h3>
          <h4>Chip | Crack</h4>
          <p class="text-uppercase">For chips or small cracks.
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
         </div>
  </div>
     <div class="col-lg-4 text-center">
        <div class="product-back-color">
          <h1 class="text-uppercase">Vehicle Scratch Repair</h1>
          <h3>$ 69.99</h3>
          <h4>/per vehicle</h4>
          <p class="text-uppercase">Minor scruffs and scratches. 
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
         </div>
  </div>
</div>
</div>
<div class="service-details">
     <div class="container">
        <div class="row">
            <div style="padding: 96px 0px;" class="col-md-offset-1 col-lg-11 text-left">
                 <img class="service-img" height="100%" src="{% static 'img/wipe.png' %}">
            </div>
    </div>
  </div>
</div>
<div class="products-services">
    <div class="triple-banners">
      <div class="container">
      <div class="col-lg-offset-1 col-lg-10">
        <h1>PRODUCTS</h1>
        </div>
       <div class="col-lg-offset-1 col-lg-10 product-row">
         <div class="col-lg-4">
          <img src="http://www.glutenfreedom.co.nz/wp-content/uploads/placeholder-400x250.gif"/>
          </div>
         <div class="col-lg-8">
          <h2 class="text-uppercase">Winter Safety Kit</h2>
          <h3>$34.99</h3>
          <p>Includes: Travel Triangle Bag, 8 ft., 10 gauge Booster Cables, Car Blanket, LED Flashlight, 3 AAA Batteries, Knit Gloves, 30 pc. 1st Aid Kit, 5 pc.  Cable Tires, S.O.S. Sign<br>BONUS: Complimentary Membership - 1 Year of 24-Hour Emergency Roadside Asssitance (No membership fees good for 3 service calls)</p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
        <div class="col-lg-offset-1 col-lg-10 product-row">
         <div class="col-lg-4">
          <img src="{% static 'img/windex.png' %}">
          </div>
         <div class="col-lg-8">
          <h2 class="text-uppercase">Windex™ 3.78L All-Season Windshield Washer Fluid</h2>
          <h3>$5.49</h3>
          <p>Non-smear windshield wash that produces a streak-free shine.<br>
              Dissolves winter's ice, snow & frost. Cleans dirt, salt & road grime. Contains no phosphates.
              </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
         <div class="col-lg-offset-1 col-lg-10 product-row">
         <div class="col-lg-4">
          <img src="http://www.glutenfreedom.co.nz/wp-content/uploads/placeholder-400x250.gif"/>
          </div>
         <div class="col-lg-8">
          <h2 class="text-uppercase">Febreze Vent Air Freshner</h2>
          <h3>$3.99</h3>
          <p>Car Vent Clips (linen & sky scent) eliminate odour, and provide a light fresh scent that is not overwhelming and does not fade quickly. Discrete size that melts into the dashboard.<br>
          Includes 1 per package.
              </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
        <div class="col-lg-offset-1 col-lg-10 product-row">
         <div class="col-lg-4">
          <img src="http://www.glutenfreedom.co.nz/wp-content/uploads/placeholder-400x250.gif"/>
          </div>
         <div class="col-lg-8">
          <h2 class="text-uppercase">Ultimate-X 24" Ultra Snow Brush</h2>
          <h3>$8.99</h3>
          <p>24” small snow brush<br>
          Strong bristles, excellent for storage in a vehicle 
              </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
         <div class="col-lg-offset-1 col-lg-10 product-row">
         <div class="col-lg-4">
          <img src="http://www.glutenfreedom.co.nz/wp-content/uploads/placeholder-400x250.gif"/>
          </div>
         <div class="col-lg-8">
          <h2 class="text-uppercase">Kraco Black Heavy Duty Car Truck Floor Mats</h2>
          <h3>$32.99</h3>
          <p>Customize fit for any vehicle. Rib-molded heel pad provides comfort and protection from extra wear. Raised border channels dirt and liquids. Tabs can be trimmed for a custom fit.<br>
            Includes four mats: two front and two rear.
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
        <div class="col-lg-offset-1 col-lg-10 product-row">
         <div class="col-lg-4">
          <img src="http://www.glutenfreedom.co.nz/wp-content/uploads/placeholder-400x250.gif"/>
          </div>
         <div class="col-lg-8">
          <h2 class="text-uppercase">Ice Patrol Salt (10kg)</h2>
          <h3>$5.49</h3>
          <p>Sprinkle on steps, walkways, driveways, etc.<br>
            Removes ice and snow the easiest possible way.
            </p>
           <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Buy Now
            </a>
          </div>
        </div>
    </div>
  </div>
</div>
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}