{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
     <meta name=”description” content=”A description of the page” />
     <title>The Title of the Page</title>
    <meta name="robots" content="index,follow"> 
    <meta name="keywords" content="put your keywords here" /> 
{% endblock %}


{% block no_container_content %}
<div class="services swatch-yellow-black has-bottom">
     <div class="container">
        <div class="row">
            <div class="col-lg-8 text-left">
                  <h1 class="page-name">Terms & Conditions</h1>
                  <p>Four Brothers Auto Service (fourbrothers.ca) and all associated property is solely owned and operated by Four Brothers Auto Service. The terms & conditions state contractual obligations, commitments, and responsibilities that the customer must follow in order to legally conduct business with Four Brothers Auto Service. Before entering into a contractual agreement with Four Brothers Auto Service, you must accept all of our terms & conditions to ensure that we can properly fulfill your appointment.<br><br>
                  This website is intended to allow you to book your service appointment online, as well as search and access all of Four Brothers Auto Service’s products and services. Fourbrothers.ca is not intended to be used in any manner that is not associated with Four Brothers Auto Service. As such, we are not held responsible for any actions that are not intended for regular business activity. <br><br>
                  Everything on fourbrothers.ca, including the terms & conditions are subject to change. We recommend that customers stay up-to-date by frequently checking the terms & conditions, as well as reading the entirety of the terms & conditions before submitting an appointment. Customers will have access to the website, fourbrothers.ca, at all times, except when the website is undergoing maintenance. You will not have access to fourbrothers.ca at this time.<br><br>
                  Four Brothers Auto Service will never compromise the personal information of any customer.  All information given by customers will be held in complete safekeeping and will not be distributed to others unless it is considered normal business activity, if it is necessary to fulfill a service appointment, or if it is necessary to better a service appointment. Four Brothers Auto Service does retain the right to make changes to the website or customer profiles, with the exception of personal credit card information. No one at Four Brother’s will ever have access to any customer’s credit card information at any time. 
                  </p>
                  <h2>Products and Services</h2>
                   <p>The prices for all of our products and services are subject to change, including the type and/or brand of the products. If there are any issues with the pricing of our products/services, in addition to any errors that may occur, it is the responsibility of the customer or interested party to inform Four Brothers Auto Service.<br><br>
                    If Four Brothers Auto Service is not able to commit to a service appointment, we will inform the customer as soon as we are aware of the issue and reschedule the appointment. We do not claim responsibility, damages or any charges that may occur if we are unable to fulfill a scheduled appointment due to unforeseen circumstances. 
                    In the case of an accident or deficient products, we will contact our supplies to correct the issue, but we do not claim responsibility for accidents or deficient products as they are purchased through a third party supplier.<br><br>
                    Four Brothers Auto Service and our suppliers attempt to be as accurate as possible. However, we do not warrant that product descriptions or other content of fourbrothers.ca is accurate, complete, reliable, current, or error-free. If a product is not as described, you may return the product if it is in its original state. The product must be in an unused condition in order for us to return it to our suppliers.
                    </p>
                  <h2>Payment</h2>
                    <p>All payments made on fourbrothers.ca are secure and protected by Stripe Inc., which uses an encryption code to safely store all confidential data. We do not keep any of your personal information in our database; everything is handled through our 3rd party, Stripe Inc. As such, they are liable for securing and upholding your payment and receipts.<br><br>
                    With the payment, your card will be debited upon authorization being received. Once the service(s) are complete, a confirmation email will be sent to your requested email, payment will be processed, and the transaction will be complete. Please note that all payments are in Canadian dollars (CDN), unless specified otherwise. 
                    </p>
                  <h2>Guarantees and Warranties Offered</h2>
                     <p>Our 100% satisfaction guarantee is in accordance of acceptable terms and expectations. If our description states that a certain service will be conducted, we will make sure to perform that service to a level that is satisfactory to the customer. Unless it is stated in our product and/or service description, we will not guarantee anything that is beyond the reasonable expectations stated on our website. Also, if we are at fault for an agreed upon issue or if something is not completed to the specifications as stated on the website, Four Brothers Auto Service will rectify the issue within a reasonable amount of time, which will usually be stated through email or during a phone call. Please acknowledge that there may be time delays due to a variety of circumstances. </p>
                  <h2>Appointments</h2>
                     <p>Schedules are made within certain time slots throughout the day, but vulnerable to changes depending on different foreseen and unforeseen circumstances. Four Brothers Auto Service holds the right to change, cancel, or delay appointments, as long as the customer is notified within a reasonable amount of time. As such, we are not held liable if we cannot fulfill our appointment commitment. However, we will do everything we can to notify the customer and make the necessary appointment changes to accommodate the customer. If Four Brothers Auto Service is unable to perform all of the requested services/products for the scheduled appointment, a refund will be provided.<br><br>
                      If the technician is not able to safely perform the service appointment, the customer will be held liable and will be charged a $49.99 missed appointment fee, as well as any other charges that might occur during the service appointment. Some issues that would prevent a technician from safely performing the service appointment, include, but are not limited to:<br><br>
                      a)  Snow<br>
                      b)  Ice<br>
                      c)  Garbage<br>
                      d)  Insufficient room<br>
                      e)  Vehicle is in an unsafe or illegal area to perform the appointment<br>
                      f)  Permission to perform the service if it is on private property <br>
                      g)  Customer is late for the scheduled appointment time<br>
                      h)  Sufficient lighting<br>
                      I)  Dangerous animals or pets<br>
                      J)  Any other issue that may prevent the technician from performing the service appointment<br>
                      </p>
                      <h2>Contractual Relationship</h2>
                     <p>The contract between Four Brothers Auto Service and the customer abides by Canadian common law and is considered to be enforced once the customer receives the confirmation email. The confirmation email will be sent after he/she has booked their online reservation. Receiving the email confirmation is considered to be the customer’s acceptance of the contractual agreement.<br><br> 
                      Note: The customer’s acceptance of the terms & conditions acknowledges that the customer agrees to all of the conditions stated in the document. If the customer does not agree with the terms & conditions specified by Four Brothers Auto Service on the website, he/she may choose not to schedule the appointment and decline at any time before the payment information is provided.<br><br>  
                      The receipt in the confirmation email clearly states the goods and services that Four Brothers Auto Service will provide to the customer, as well as the pricing. Some services will incur additional charges, such an oil change to a larger vehicle that requires more than 5 litres of oil. These charges will be explained to the customer throughout their booking, as such, it is the customer’s responsibility to accurately select the option that is appropriate for their car. Charges during and after the appointment may be applied if the customer doesn’t accurately enter the correct order, which will be automatically taken from the credit card on record. 
                      </p>
                     <h2>Terms of Trade</h2>
                     <p>By scheduling the online appointment and accepting the terms and conditions, the customer is acknowledging that he/she is exchanging CDN currency for goods and services from Four Brothers Auto Service. All transactions will incur 13% HST in accordance with the Government of Canada, as well as any other charges that will be shown to the customer. If the customer is made aware of any changes or any errors in the exchange of the goods and/or services, it is the customer’s responsibility to contact Four Brothers Auto Service.<br><br>
                      If a customer chooses to cancel an appointment, he must contact Four Brothers Auto Service within 24 hours of the confirmed booking. Once the 24 hour time period has passed, the customer can no longer cancel their appointment. Customers can, however, reschedule their appointments up to 24 hours before the scheduled appointment time. Changes cannot be able to their appointment the same day as their appointment, unless they choose to add additional services by making another appointment. Cancelling or changing selected services/products the same day as the appointment will not be permitted. For emergencies, Four Brothers Auto Service should be contacted in order to arrange a compromise, such credit that can be used for a future purchase. 
                      </p>
                     <h2>Prohibitions</h2>
                     <p>Four Brothers Auto Service does not permit, promote or encourage any criminal activity in association to our company and property. If any consumer activity is found to be malicious and not in accordance with Four Brothers Auto Service’s terms and conditions, Four Brothers Auto Service will take the necessary actions to stop the activity. If the consumer commits a criminal offense to Four Brothers Auto Service or any property owned by the company, a report will be filed to the relevant law enforcement authorities, which includes all parties involved. <br><br>
                      Also, unless permission and access is granted by Four Brothers Auto Service, no property of the company is to be altered or used outside of the normal business activity of the company. All malicious or contract compromising activity will be brought to the attention of the relevant law body in the jurisdiction. Any damages obtained to Four Brothers Auto Service will be liable to the participating parties and their necessary stakeholders if necessary.<br><br>
                      Please also see the website terms and conditions page below.
                       </p>
                     <h2>Disclaimer of Liability</h2>
                     <p>Four Brothers Auto Service does not provide liability insurance for the protection of individuals, groups, organizations, businesses, spectators, or others while performing service appointments, other than Four Brothers Auto Service employees.<br><br>
                      In consideration for your participation in said service appointment, the individual, group, organization, business, spectator, or other, does hereby release and forever discharge Four Brothers Auto Service, and its officers, board, and employees, jointly and severally from any and all actions, causes of actions, claims and demands for, upon or by reason of any damage, loss or injury, or of any damages to customer vehicle, which hereafter may be sustained during the service appointment.<br><br>
                      This release extends and applies to, and also covers and includes, all unknown, unforeseen, unanticipated and unsuspected injuries, damages, loss and liability and the consequences thereof, as well as those now disclosed and known to exist.  The provisions of any state, federal, local or territorial law or state providing substance that releases shall not extend to claims, demands, injuries, or damages which are known or unsuspected to exist at this time, to the person executing such release, are hereby expressly waived.<br><br>
                      I hereby agree on behalf of my heirs, executors, administrators, and assigns, to indemnify Four Brothers Auto Service and its officers, board and employees, joint and severally from any and all actions, causes of actions, claims and demands for, upon or by reason of any damage, loss or injury, which hereafter may be sustained during a service appointment.
                      It is further understood and agreed that said during the service appointment, is not to be construed as an admission of any liability and acceptance of assumption of responsibility by Four Brothers Auto Service, its officers, board, and employees, jointly and severally, for all damages and expenses for which Four Brothers Auto Service, its officers, board and employees, become liable as a result of any alleged act of the parade participant.
                      </p>
                     <h2>Customer Issues</h2>
                     <p>If the customer has any issues and/or concerns, it is their responsibility to contact Four Brothers Auto Service as soon as they aware of the problem at hand. Failure to contact Four Brothers Auto Service will negate any liability for Four Brothers Auto Service. In addition, any issues must be brought to the attention of Four Brothers Auto Service in a reasonable timeframe in order for Four Brothers Auto Service to correct the issue. Delayed complaints and/or concerns will make it difficult for Four Brothers Auto Service to rectify the issue and will result in Four Brothers Auto Service no longer being liable.
                      All issues should be brought up by emailing Four Brothers Auto Service on our website or through any other form of communication. 
                      At Four Brothers Auto Service, we will do our best to respond to all issues in a timely manner.
                      </p>
                       <h2>Additional Terms & Conditions</h2>
                       <h2>1. Introduction</h2>
                        <p>
                        1.1 These terms and conditions shall govern your use of our website.
                        1.2 By using our website, you accept these terms and conditions in full; accordingly, if you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.
                        1.3 If you [register with our website, submit any material to our website or use any of our website services], we will ask you to expressly agree to these terms and conditions.
                        1.4 You must be at least 18 years of age to use our website; and by using our website or agreeing to these terms and conditions, you warrant and represent to us that you are at least 18 years of age.
                        1.5 Our website uses cookies; by using our website or agreeing to these terms and conditions, you consent to our use of cookies in accordance with the terms of our privacy and cookies policy.
                        </p>
                        <h2>2.  Promotional Codes & Loyalty Points</h2>
                        <p>
                        2.1 By collecting, using loyalty points, and/or promotional codes, you agree to all terms and conditions outlined. Loyalty points and promotional codes can be revoked without notice at any time by Four Brothers Auto Service. You agree to not abuse promotional codes and are limited to a total of 1 code per scheduled appointment. Four Brothers Auto Service has the right to revoke any promotional codes or loyalty points at any time, without notice. Loyalty points and promotional codes have no dollar value and cannot be exchanged for cash or credit. 
                        </p>
                        <h2>3.  Copyright Notice</h2>
                        <p>
                        3.1 Copyright (c) 2015 Four Brothers Auto Service.
                        3.2 Subject to the express provisions of these terms and conditions:
                        (a) we, together with our licensors, own and control all the copyright and other intellectual property rights in our website and the material on our website; and
                        (b) all the copyright and other intellectual property rights in our website and the material on our website are reserved.
                        </p>
                        <h2>4.  Licence to Use Website</h2>
                        <p>
                        4.1 You may:
                        (a) view pages from our website in a web browser;
                        (b) download pages from our website for caching in a web browser;
                        (c) print pages from our website;
                        (d) [stream audio and video files from our website; and]
                        (e) [use [our website services] by means of a web browser,]
                          subject to the other provisions of these terms and conditions.
                        4.2 Except as expressly permitted by Section 4.1 or the other provisions of these terms and conditions, you must not download any material from our website or save any such material to your computer.
                        4.3 You may only use our website for [your own personal and business purposes], and you must not use our website for any other purposes.
                        4.4 Except as expressly permitted by these terms and conditions, you must not edit or otherwise modify any material on our website.
                        4.5 Unless you own or control the relevant rights in the material, you must not:
                        republish material from our website (including republication on another website);
                        sell, rent or sub-license material from our website;
                        show any material from our website in public;
                        exploit material from our website for a commercial purpose; or
                        redistribute material from our website.
                        4.6 Notwithstanding Section 4.5, you may redistribute [our newsletter] in [print and electronic form] to [any person].
                        4.7 We reserve the right to restrict access to areas of our website, or indeed our whole website, at our discretion; you must not circumvent or bypass, or attempt to circumvent or bypass, any access restriction measures on our website.
                        </p>
                        <h2>5. Acceptable Use</h2>
                        <p>
                        5.1 You must not:
                        use our website in any way or take any action that causes, or may cause, damage to the website or impairment of the performance, availability or accessibility of the website;
                        use our website in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity;
                        use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software;
                        conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without our express written consent;
                        [access or otherwise interact with our website using any robot, spider or other automated means;]
                        [violate the directives set out in the robots.txt file for our website; or]
                        [use data collected from our website for any direct marketing activity (including without limitation email marketing, SMS marketing, telemarketing and direct mailing).]
                        5.2 You must not use data collected from our website to contact individuals, companies or other persons or entities.
                        5.3 You must ensure that all the information you supply to us through our website, or in relation to our website, is [true, accurate, current, complete and non-misleading].
                        </p>
                        <h2>6.  Registration & Accounts</h2>
                        <p>
                        6.1 To be eligible for an individual account on our website under this Section 6, you must [be at least 18 years of age and resident in Canada].
                        6.2 You may register for an account with our website by [completing and submitting the account registration form on our website, and clicking on the verification link in the email that the website will send to you].
                        6.3 You must not allow any other person to use your account to access the website.
                        6.4 You must notify us in writing immediately if you become aware of any unauthorised use of your account.
                        6.5 You must not use any other person's account to access the website[, unless you have that person's express permission to do so].
                        </p>
                        <h2>7.  User IDs & Passwords</h2>
                        <p>
                        7.1 If you register for an account with our website, [we will provide you with / you will be asked to choose] a user ID and password.
                        7.2 Your user ID must not be liable to mislead and must comply with the content rules set out in Section 10; you must not use your account or user ID for or in connection with the impersonation of any person. 
                        7.3 You must keep your password confidential.
                        7.4 You must notify us in writing immediately if you become aware of any disclosure of your password.
                        7.5 You are responsible for any activity on our website arising out of any failure to keep your password confidential, and may be held liable for any losses arising out of such a failure.
                        </p>
                        <h2>8.  Cancellation & Suspension of Account</h2>
                        <p>
                        8.1 We may:
                        [suspend your account;]
                        [cancel your account; and/or]
                        [edit your account details,]
                        at any time in our sole discretion without notice or explanation.
                        8.2 You may cancel your account on our website [using your account control panel on the website].
                        </p>
                        <h2>9.  Your Content: Licence</h2>
                        <p>
                        9.1 In these terms and conditions, "your content" means all works and materials (including without limitation text, graphics, images, audio material, video material, audio-visual material, scripts, software and files) that you submit to us or our website for storage or publication on, processing by, or transmission via, our website.
                        9.2 You grant to us a [worldwide, irrevocable, non-exclusive, royalty-free licence] to [use, reproduce, store, adapt, publish, translate and distribute your content in any existing or future media / reproduce, store and publish your content on and in relation to this website and any successor website / reproduce, store and, with your specific consent, publish your content on and in relation to this website].
                        9.3 You grant to us the right to sub-license the rights licensed under Section 9.2.
                        9.4 You grant to us the right to bring an action for infringement of the rights licensed under Section 9.2.
                        9.5 You hereby waive all your moral rights in your content to the maximum extent permitted by applicable law; and you warrant and represent that all other moral rights in your content have been waived to the maximum extent permitted by applicable law.
                        9.6 You may edit your content to the extent permitted using the editing functionality made available on our website.
                        9.7 Without prejudice to our other rights under these terms and conditions, if you breach any provision of these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may delete, unpublish or edit any or all of your content.
                        </p>
                        <h2>10. Your Content: Rules</h2>
                        <p>
                        10.1  You warrant and represent that your content will comply with these terms and conditions.
                        10.2  Your content must not be illegal or unlawful, must not infringe any person's legal rights, and must not be capable of giving rise to legal action against any person (in each case in any jurisdiction and under any applicable law).
                        10.3  Your content, and the use of your content by us in accordance with these terms and conditions, must not:
                        be libellous or maliciously false;
                        be obscene or indecent;
                        infringe any copyright, moral right, database right, trade mark right, design right, right in passing off, or other intellectual property right;
                        infringe any right of confidence, right of privacy or right under data protection legislation;
                        constitute negligent advice or contain any negligent statement;
                        constitute an incitement to commit a crime[, instructions for the commission of a crime or the promotion of criminal activity];
                        be in contempt of any court, or in breach of any court order;
                        be in breach of racial or religious hatred or discrimination legislation;
                        be blasphemous;
                        be in breach of official secrets legislation;
                        be in breach of any contractual obligation owed to any person;
                        [depict violence[ in an explicit, graphic or gratuitous manner];]
                        [be pornographic[, lewd, suggestive or sexually explicit];]
                        [be untrue, false, inaccurate or misleading;]
                        [consist of or contain any instructions, advice or other information which may be acted upon and could, if acted upon, cause illness, injury or death, or any other loss or damage;]
                        [constitute spam;]
                        [be offensive, deceptive, fraudulent, threatening, abusive, harassing, anti-social, menacing, hateful, discriminatory or inflammatory; or]
                        [cause annoyance, inconvenience or needless anxiety to any person.]
                        </p>
                        <h2>11. Limited Warranties</h2>
                        <p>
                        11.1  We do not warrant or represent:
                        the completeness or accuracy of the information published on our website;
                        that the material on the website is up to date; or
                        that the website or any service on the website will remain available.
                        11.2  We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website, at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise in these terms and conditions, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing the website.
                        11.3  To the maximum extent permitted by applicable law and subject to Section 12.1, we exclude all representations and warranties relating to the subject matter of these terms and conditions, our website and the use of our website.
                        </p>
                        <h2>12. Limitations & Exclusions of Liability</h2>
                        <p>
                        12.1  Nothing in a contract under these terms and conditions will:
                        limit or exclude any liability for death or personal injury resulting from negligence;
                        limit or exclude any liability for fraud or fraudulent misrepresentation;
                        limit any liabilities in any way that is not permitted under applicable law; or
                        exclude any liabilities that may not be excluded under applicable law.
                        12.2  The limitations and exclusions of liability set out in this Section 12 and elsewhere in a contract under these terms and conditions: 
                        are subject to Section 12.1; and
                        govern all liabilities arising under that contract or relating to the subject matter of that contract, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty, except to the extent expressly provided otherwise in that contract.
                        12.3  To the extent that our website and the information and services on our website are provided free of charge, we will not be liable for any loss or damage of any nature.
                        12.4  We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.
                        12.5  We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.
                        12.6  We will not be liable to you in respect of any loss or corruption of any data, database or software.
                        12.7  We will not be liable to you in respect of any special, indirect or consequential loss or damage.
                        12.8  You accept that we have an interest in limiting the personal liability of our officers and employees and, having regard to that interest, you acknowledge that we are a limited liability entity; you agree that you will not bring any claim personally against our officers or employees in respect of any losses you suffer in connection with the website or these terms and conditions (this will not, of course, limit or exclude the liability of the limited liability entity itself for the acts and omissions of our officers and employees).
                        </p>
                        <h2>13. Breaches of These Terms & Conditions</h2>
                        <p>
                        13.1  Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we may: 
                        send you one or more formal warnings;
                        temporarily suspend your access to our website;
                        permanently prohibit you from accessing our website;
                        block computers using your IP address from accessing our website;
                        contact any or all of your internet service providers and request that they block your access to our website;
                        commence legal action against you, whether for breach of contract or otherwise; and/or
                        suspend or delete your account on our website.
                        13.2  Where we suspend or prohibit or block your access to our website or a part of our website, you must not take any action to circumvent such suspension or prohibition or blocking (including without limitation creating and/or using a different account).
                        </p>
                        <h2>14. Variation</h2>
                        <p>
                        14.1  We may revise these terms and conditions from time to time.
                        14.2  [The revised terms and conditions shall apply to the use of our website from the date of publication of the revised terms and conditions on the website, and you hereby waive any right you may otherwise have to be notified of, or to consent to, revisions of these terms and conditions. / We will give you written notice of any revision of these terms and conditions, and the revised terms and conditions will apply to the use of our website from the date that we give you such notice; if you do not agree to the revised terms and conditions, you must stop using our website.]
                        14.3  If you have given your express agreement to these terms and conditions, we will ask for your express agreement to any revision of these terms and conditions; and if you do not give your express agreement to the revised terms and conditions within such period as we may specify, we will disable or delete your account on the website, and you must stop using the website.
                        </p>
                        <h2>15. Assignment</h2>
                        <p>
                        15.1  You hereby agree that we may assign, transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions. 
                        15.2  You may not without our prior written consent assign, transfer, sub-contract or otherwise deal with any of your rights and/or obligations under these terms and conditions.
                        </p> 
                        <h2>16. Severability</h2>
                        <p>
                        16.1  If a provision of a contract under these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.
                        16.2  If any unlawful and/or unenforceable provision of a contract under these terms and conditions would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect. 
                        </p>
                        <h2>17. Third party rights</h2>
                        <p>
                        17.1  A contract under these terms and conditions is for our benefit and your benefit, and is not intended to benefit or be enforceable by any third party.
                        17.2  The exercise of the parties' rights under a contract under these terms and conditions is not subject to the consent of any third party.
                        </p>
                        <h2>18. Entire agreement</h2>
                        <p>
                        18.1  Subject to Section 12.1, these terms and conditions, together with our privacy and cookies policy, shall constitute the entire agreement between you and us in relation to your use of our website and shall supersede all previous agreements between you and us in relation to your use of our website.
                        </p>
                        <h2>19. Law and jurisdiction</h2>
                        <p>
                        19.1  A contract under these terms and conditions shall be governed by and construed in accordance with Common Law.
                        19.2  Any disputes relating to a contract under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of Canada.
                        </p>
                        <h2>20. Statutory and regulatory disclosures</h2>
                        <p>
                        20.2  We are subject to common law, which is supervised by Canadian Government.
                        20.3  We are registered as a sole proprietorship with the Ontario Government in Canada and are subject to rules, which can be found at http://www.ontario.ca/page/government
                        </p>
                        <h2>21. Our details</h2>
                        <p>
                        21.1  This website is owned and operated by Four Brothers Auto Service.
                        21.2  We are registered in Canada under Four Brothers Auto Service, and our registered office Toronto, Ontario.
                        21.3  Our principal place of business is at Toronto, Ontario.
                        21.4  You can contact us by writing to the business address given above, by using our website contact form, by email to legal@fourbrothers.ca
                        </p>
                       <h2>Credit</h2>
                     <p>
                      This document was created using a template from SEQ Legal (http://www.seqlegal.com).
                      </p>
            </div>
    </div>
  </div>
</div>
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}