.banner {
	text-align: center;
  background-image: url("http://www.linders.ie/imglib/linders2013/service.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.services {
	text-align: center;

}
