.debug-warning {
    position: absolute;
    top: 41px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #538AD1;
}

.navbar-nav li #register:hover{
   color: #FC9A00!important;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: #EEE;
}

.full-width {
    width: 100%;
}

.table-notop > tbody > tr:first-child > th, .table-notop > tbody > tr:first-child > td {
    border-top: none;
}

.select2-container.form-control {
    height: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
    /*padding-left: 10px;*/
    display: block;
    box-shadow: none;
}

.breadcrumb {
    margin-bottom: 0;
}

div.data-tables-responsive {
    overflow-x: hidden;
}

/* Sticky footer styles
-------------------------------------------------- */

body {
    padding-top: 70px;
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

img {
  max-width:100%;
}

html{
  font-size: 14px;   // 1rem = 16px
  font-family: "Cantarell",sans-serif;
  position: relative;
  min-height: 100%;
}

@media screen and (max-width: 500px) {
    html{font-size: 12px!important;}
}

@media screen and (max-width: 748px) {
    .nav-tabs span {
      display:none;
    }
}

@media screen and (min-device-width: 501px) and (max-device-width: 1200px) {
    html{font-size: 14px;}
}

@media screen and (min-device-width: 1201px) and (max-device-width: 1600px) {
    html{font-size: 14px;}
}
@media screen and (min-device-width: 1601px) and (max-device-width: 1800px) {
    html{font-size: 16px;}
}
@media screen and (min-device-width: 1801px) and (max-device-width: 2000px) {
    html{font-size: 16px;}
}

@media screen and (min-device-width: 2001px) {
    html{font-size: 20px;}
}

h1 {
    font-size:2rem;
    font-family: "Fjalla One",sans-serif;
}

h2 {
    font-size:1.5rem;
     font-family: "Fjalla One",sans-serif;
}
h3 {
    font-size:1.35rem;
     font-family: "Fjalla One",sans-serif;
}
h4 {
    font-size:1.15rem;
     font-family: "Fjalla One",sans-serif;
}
h5 {
    font-size:1.05rem;
     font-family: "Fjalla One",sans-serif;
}
h6,li {
    font-size:1rem;
    f font-family: "Fjalla One",sans-serif;
}
p {
    font-size:1.2rem;
     font-family: "Cantarell",sans-serif;
     line-height:1.5;
}

#apply-promo, #apply-loyalty {
  margin: 0px 0px 0px 5px!important;
}

@media screen and (max-width: 1200px) {
  #tire-fix{display:none;
      }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.well {
  border-radius: 0px!important;
box-shadow: none!important;
}

.footer {
  width: 100%;
  background-color: #323131 !important;
  position: absolute;
  height: auto;
}

.footer a {
  color:#fff;
}

.footer .list-unstyled {
  text-align:right;
}

.footer .navbar-brand {
    height: 100px;
    width: 100%;
}


#contact-number {
  font-family: 'Fjalla One', sans-serif;
  font-size:1.1rem;
  color:#fff;
}

.social-icon-footer i {
    text-align: center;
    width: 30px;
    color:#fff!important;
    font-size:1.5rem;
    height: 20px;
}
.footer h4 {
    margin-top: 11px;
    margin-bottom: 11px;
    text-align: left;
    color:#fff;
}

a.social-icon-footer {
    text-decoration: none;
}

.social-icon-footer .fa-facebook{
    color: #3b5998;
}

.social-icon-footer .fa-twitter{
    color: #55acee;
}

.social-icon-footer .fa-google-plus{
    color: #dd4b39;
}

.social-icon-footer .fa-linkedin{
    color: #0077b7;
}

.progress-bar-inner-text {
    font-size: 97%;
    margin: 0 2px;
    text-shadow: 0px 0px 5px #000;
}

/* Jeff Custom CSS
-------------------------------------------------- */
.services .col-lg-6 p {
  padding-bottom:50px;
}

#featured-services img {
  height: 150px;
}

.services hr {
  margin-top:40px;
}

a {
  font-family: 'Fjalla One', sans-serif;
}


.banner {
    text-align: center;
    background-image: url("../img/Fotolia_81725042_M.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner h1, .banner p {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.banner .jumbotron {
    background-color: rgba(0, 0, 0, 0.65);
    padding-top: 6%;
    padding-bottom: 6%;
    height:600px;
}

.banner2 {
    text-align: center;
    background-image: url("../img/Fotolia_53424077_M.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.banner2 h1, .banner2 p {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.banner2 .jumbotron {
    background-color: rgba(0, 0, 0, 0.65);
    padding-top: 6%;
    padding-bottom: 6%;
    height:600px;
}

.services, .about {
    text-align: center;
}

#cart {
    text-align: center;
}

.center {
  margin: 0 auto;
  float: none;
}

.call_to_action .fa {
  font-size: 3rem;
  border-radius: 200px;
  border: 30px solid #333 ;
  background: #333 ;
}

.navbar {
    background-color: #fff!important;
    box-shadow: 0px 4px 0px rgba(223, 46, 27, 0.3);
    border: 0px;
    padding: 10px 0px;
}

.dot_arrow {
  position: absolute;
font-size: 3.25rem;
margin-top: -85px;
margin-left: 65px;
color:#317207;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color:#222;
}

.banner .container {
    text-shadow:1px 1px 1px #555;

}

.banner h1, .banner p{
    color:#fff;
    font-family: 'Fjalla One', sans-serif;
}

.org-btn {
    border-radius:0px;
    background:none;
    border:5px solid #538AD1;
    text-shadow:none;
    transition: all 0.5s ease!important;
}

.cancel-btn {
    border-radius:0px;
    border:0px;
    text-shadow:none;
    transition: all 0.5s ease!important;
}

.org-btn:hover {
    background-color:#0DA3CD;
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.dropdown-menu {
    border:0px;
}

.angle {
  display: block;
  background: #eee;
  height: 100px;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  background-clip: padding-box;
  -webkit-backface-visibility: hidden;
}

.angle.top {
  bottom: auto;
  top: -30px;
}

.angle.right-corner {
  -webkit-transform: skewY(1.8deg);
  -ms-transform: skewY(1.8deg);
  transform: skewY(1.8deg);
}

.angle.left-corner {
  -webkit-transform: skewY(-1.8deg);
  -ms-transform: skewY(-1.8deg);
  transform: skewY(-1.8deg);
}

#how_to, #newsletter {
    position:relative;
    background: #eee;
    padding:50px 0px;
}

#how_to .fa {
  font-size:7rem;
}

#how_to p {
  padding-bottom:50px;
}

#values {
    position:relative;
    background: #eee;
    padding:100px 0px;
}

#services_oil, #careers {
    position:relative;
    background: #eee;
    padding:50px 0px;
}

#services_oil .fa, #careers .fa {
  font-size: 2rem;
  color: #FC9A00;
  padding-right:10px;
}

#services_oil .fa-tint, #careers .fa-tint {
  font-size: 6rem;
  color: #FC9A00;
}

.service_title{
 font-size:70px;
 text-align:left;
}

.service_square {
    background: #FFF none repeat scroll 0% 0%;
    padding: 30px;
    margin: 0px 40px 40px;
    box-shadow: 1px 1px 1px 1px #999;
    border-top: solid 20px orange;
}

.service_square_sub {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 1px 1px 1px 1px #999;
    border-top: solid 20px orange;
}

#values .fa {
  position: absolute;
  font-size: 8rem;
  margin-left: -70px;
  margin-top: -30px;
  color: #FC9A00;
}

.services, .app-content, .about, #socialbar, #book_now, #about_us, #services_tire, #career_two {
  background: #fff;
  padding:50px 0px;
}

#book_now, #about_us, #services_tire{
    position: relative;
}

#book_now .fa {
font-size: 1.8rem;
}

#about_us .fa{
  color: #FC9A00;
  font-size: 4.25rem;
}

#book_now h3, #book_now h1, #book_now p, #about_us h2, #about_us h3, #about_us h1, #about_us p {
color:#333;
}

#book_now h1{
  color:#FC9A00;
}

.list_service {
  padding-left:30px;
}

#book_now p, #about_us p {
line-height: 2.2;
}

#why-us {
  padding:300px 0px;
  position:relative;
  color: #333;
  text-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.checkbox+.checkbox {
  margin-top: 10px!important;
}

#service-list label {
  padding: 20px;
  text-align: left;
  font-family: "Fjalla One",sans-serif;
  background: #eee;
}

#id_check_4 {
 clear:both;
}

#why-us h3 {
  font-family: "Cantarell",sans-serif;
}



#why-us .container{
  z-index:2;
  position:relative;
}

#warranty {
  background: #538ad1;
  padding:100px 0px;
  position:relative;
  color: #fff;
}

#warranty .btn {
  background:#FFA500;
}


#warranty .container{
  z-index:2;
  position:relative;
}

.jumbotron {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(252, 154, 0, 1)!important;
}

.decor-top {
    bottom: 100%;
}

[class*="decor-"] {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
}

.swatch-yellow-black .decor, [class*="swatch-"] .swatch-yellow-black .decor {
    stroke: #1C1E20;
    fill: #fff;
}

[class*="decor-"] svg {
    height: 101%;
}

svg:not(:root) {
    overflow: hidden;
}

.decor {
    position: relative;
    margin: 0px auto;
    display: block;
}
.services
 {
    position: relative;
    z-index: 4;
    padding: 96px 0px;
}

.about
 {
    position: relative;
    z-index: 4;
    padding-left: 0px;
    padding-right: 0px;
    padding-top:30px;
    padding-bottom:100px;
}

.services.has-bottom.has-top, .about.has-bottom.has-top {
    z-index: 20;
}

.navbar-brand {
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

.navbar-nav li a {
  font-size:18px;
}

.navbar-nav li #register{
border-bottom: 3px solid #FC9A00!important;
border-top: 3px solid #FC9A00!important;
}

.navbar-nav li #login{
    border-top: 3px solid rgb(83, 138, 209) !important;
    border-bottom: 3px solid rgb(83, 138, 209) !important;
    margin-right: 5px;
}

.login-window{
  padding:5% 0%;
}

.form-control {
    height: 54px;
    padding: 6px 12px;
    font-size: 1.25rem;
    color: #000;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #777;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Fjalla One', sans-serif;
}

.alert{
  margin-bottom:0px;
  font-family: 'Fjalla One', sans-serif;
  font-size:1rem;
}

.panel {
    border-radius: 0px!important;
    box-shadow: none!important;
    border: 1px solid #ddd!important;
}

.btn {
  font-family: 'Fjalla One', sans-serif;
  border-radius: 0px;
  padding: 10px 30px;  

}

.btn-info {
    color: #FFF;
    background-color: #337AB7!important;
    border-color: #2E6DA4!important;
}

.btn-info:hover {
background-color: #286090;
border-color: #204D74;
}

.office-hide  {
  display:none!important;
}

.btn-primary {
margin: 20px 0px;
}
.panel-body {
    font-family: 'Cantarell', sans-serif;
}

label {
    font-family: 'Cantarell', sans-serif;
  }

.nav-tabs > li > a {
  border-radius:0px!important;
}

.num {
  font-family: "Cantarell",sans-serif;
  background: #538AD1 none repeat scroll 0% 0%;
  font-size: 4.3rem;
  color: #FFF;
  border: 2px solid #538AD1;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 100px;
}

.num_faq {
  font-family: "Cantarell",sans-serif;
  background: #538AD1 none repeat scroll 0% 0%;
  font-size: 1rem;
  color: #FFF;
  border: 2px solid #538AD1;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 25px;
  border-radius: 30px;
  text-align: center;
  margin: 15px;
}

.panel-title {
  font-size: 1.25rem;
}

.panel-body {
font-size: 1.2rem;
}

.faq-toggle:focus {

}

.book-call {
  padding:0px 0px 80px;
}



a {
   outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

.fast {
    animation-duration: 1s;
    animation-delay: 0s;
}

.fast2 {
    animation-duration: 1s;
    animation-delay: 1s;
}

.fast3 {
    animation-duration: 1s;
    animation-delay: 2s;
}

.slow {
    animation-duration: 3s;
    animation-delay: 1s;
}

.slow2 {
    animation-duration: 3s;
    animation-delay: 2s;
}

.reallyslow {
    animation-duration: 6s;
    animation-delay: 3s;
}

.round .fa {
    font-size: 3.1rem;
    border-radius: 200px;
    border: 30px solid #ffffff;
    background: #Ffffff none repeat scroll 0% 0%;
}

.box-round {
    display: block;
    text-align: center;
    margin: 0px auto 24px;
    position: relative;
    z-index: 100;
    width: 150px;
    max-width: 100%;
}


.large_number{
    float: left;
    font-size: 14.37rem;
    line-height: 0px;
    padding-right: 10px;
    padding-bottom: 80px;
    color: #538AD1;
    margin-top: 20px;
}


.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 80px;
    height: 80px;
    padding: 8px;
    background: #fff;
    color: #FC9A00;
    font-family: "Fjalla One",sans-serif;
    text-align: center;
    margin: 0 auto;
    box-shadow: 5px 0px 1px 1px #000;
    font-size:45px;
}

#googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

 .scrolloff {
        pointer-events: none;
    }

#googlemaps iframe {
  width:100%;
  height:100%;
}

#socialbar .fa {
  font-size:2rem;
  padding-right:10px;
}

#socialbar a {
 color:#333;
}

#socialbar a:hover {
  text-decoration:underline;
}

/* About Us */

.aboutus_back p {
  line-height:1.5!important;
}

.page-name {
  font-size:4em;
}

#image-offset {
  position: absolute;
  margin-top: -350px;
  z-index: 4;
}

#image-offset img {
width: 570px;
}

/* Careers */
.apply-now {
  margin-left:30px;
}

#career_two p {
  font-size:1.25rem;
}

/* Contact */
#googlemaps2 iframe {
  max-width:100%;
}

#email-us input, #email-us textarea{
margin-bottom:20px;
}

.notice {
padding: 10px;
background:#eee;
}
/* Pay */

#invoice {
  background:none!important;
  color:#333!important;
  border-radius:0px!important;
  border:0px!important;
}

.stripe-button-el {
  color: #FFF!important;
background-color: #337AB7!important;
border-color: #2E6DA4!important;
display: inline-block!important;
padding: 6px 12px!important;
margin-bottom: 0px!important;
font-size: 14px!important;
font-weight: 400!important;
line-height: 1.42857!important;
text-align: center!important;
white-space: nowrap!important;
vertical-align: middle!important;
cursor: pointer!important;
-moz-user-select: none!important;
background-image: none!important;
border: 1px solid transparent!important;
text-decoration: none!important;
border-radius: 0px!important;
box-shadow: none!important;
}

.stripe-button-el span {
    background: none!important;
    color: #FFF!important;
    font-weight: 100!important;
    text-shadow: none!important;
    box-shadow: none!important;
    border-radius: 0px!important;
    font-family: 'Fjalla One', sans-serif!important;
}

.scrollThis{
  height: 200px;
overflow: scroll;
margin-bottom: 20px;
}

/* Services Page */

.service-img {
  position: absolute;
  margin-top: -40px;
  z-index: -1;
}

.product-row {
height: 100%;
background: rgb(255, 255, 255) none repeat scroll 0% 0%;
display: inline-block;
margin-top:20px;
}

.buy-contain {
   min-height:231px;
}

.product-row h3 {
  margin-top: 0px;
  color:#FC9A00;
}


.product-back-color {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding:20px;
  margin:15px;
  text-align: left;
}

/*Klaus Structure*/

.klausbg {
  background:#fff;
  height:570px;
  text-align:center;
  cursor:default;
  padding:0;
  margin-bottom:30px;
  border-right:1px solid #f0f0f0;
}

.klausbg2 {
  background:#fff;
  height:380px;
  text-align:center;
  cursor:default;
  padding:0;
  margin-bottom:30px;
  border-right:1px solid #f0f0f0;
}
.klausheader2 {height:290px;border-bottom:1px solid #f0f0f0;}
.klausheader {height:236px;border-bottom:1px solid #f0f0f0;}
.klausbg2 h5 {color:#2d2f37;font-size:30px;font-weight:700;text-transform:uppercase;float:left;width:100%;margin:0;padding-top:40px;padding-bottom:10px;}
.klausbg2 p {color:#9fa5ae;font-size:16px;font-weight:300;float:left;width:100%;margin-top:-10px}

.klausbg h5 {color:#2d2f37;font-size:30px;font-weight:700;text-transform:uppercase;float:left;width:100%;margin:0;padding-top:40px;padding-bottom:10px;}
.klausbg p {color:#9fa5ae;font-size:16px;font-weight:300;float:left;width:100%;margin-top:-10px}
.klaus_package {color:#2d2f37;font-size:16px;font-weight:300;text-transform:uppercase;float:left;width:100%;}
.klaus_price {font-size:46px;font-weight:300;float:left;width:100%;margin-top:10px;}
.klaus_price2 {
    font-size: 32px;
    font-weight: 300;
    float: left;
    width: 100%;
    margin-top: 10px;
}
.klaus_featured {
  width:130px;
  height:25px;
  position:absolute;
  top:0;
  left:50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  background:#ccc;
  border-radius:0px 0px 5px 5px;
  font-size:15px;
  padding-top:1px;
  text-transform:uppercase;
  color:#fff;
  letter-spacing:0.8px;
}

.klaus_features {
  border-bottom:1px solid #f0f0f0;
}

.klaus_features li {
  height:40px;
  list-style:none;
  text-align:left;
  font-size:14px;
  color:#54565b;
  font-weight:400;
  padding-top:10px;
  padding-left:10px;
}
.klaus_features li i {
  padding-right:10px;
  font-size:16px;
}
.klaus_plancolor {background:#f4f4f4;}
.klaus_getaquote {width:180px;height:36px;margin-left:auto;margin-right:auto;}
.klaus_getaquote li {list-style:none;height:36px;margin-top:28px;}
.klaus_getaquote li a {color:#fff;float:left;width:100%;height:36px;padding-top:8px;border-radius:5px;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;}
.klaus_getaquote li a:hover{text-decoration:none;}


/*Skin v1*/

.skinonecolor {color:#FC9A00;}
.skinonebg {background:#FC9A00;}
.skinoneklaus_features i {color:#337AB7;}
.skinonegetquote li a {background:#38b880;}
.skinonegetquote li a:hover{background:#47cc92;}
.skinoneultimate {background:#999;border:0;color:#fff;}
.skinoneucolor {border-bottom:1px solid #fff;}
.skinoneucolor h5 {color:#fff;}
.skinoneucolor span {color:#fff;}
.skinoneucolor p {color:#fff;}
.skinoneucolor li {color:#fff;}
.skinoneucolor i {color:#fff;}
.skinoneklaus_plancolor {background:#777;}
.skinoneucolorget li a {background:#fff;color:#3db983;}
.skinoneucolorget li a:hover {background:#65ebb1;color:#fff;}


.products-services .triple-banners {
padding-top: 6%;
background:#eee;
padding-bottom: 6%;
height: auto;
}

.products-services2 .triple-banners {
padding-top: 6%;
background:#fff;
padding-bottom: 6%;
height: auto;
}

.products-services .fa {
  margin-right:10px;
}

.product-back-color h3 {
  color:#FC9A00;
}


.flat .plan {
  border-radius: 6px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 20px -12px rgb(0, 0, 0);
}

.products-services2 .flat .plan {
 background:#eee;
}
.table p {
 margin-top:10px;
}

.flat .plan li {
  padding: 10px 15px;
  color: #ccc;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-price {
  border-top: 0;
}
.flat .plan li.plan-name {
  border-radius: 0px;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #337AB7;
  margin-bottom: 30px;
  border-top: 0;
}

.flat .plan li.grey-back {
  background:#777;
}

.flat .plan li.org-back {
  background:#FC9A00;
}

.flat .plan li > strong {
  color: #333;
}
.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured li.plan-name {
  background: #000;
}
.flat .plan.featured:hover li.plan-name {
  background: #c0392b;
}

.flat .plan:hover li.plan-name{
  background: green;
}

.flat .plan:hover li.grey-back{
  background: green;
}

.flat .plan:hover li.org-back{
  background: green;
}

.appts-table {
    margin: 30px;
}

.appts-table caption {
    font-size: 20pt;
}

