.debug-warning {
    position: absolute;
    top: 41px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.full-width {
    width: 100%;
}

.table-notop > tbody > tr:first-child > th, .table-notop > tbody > tr:first-child > td {
    border-top: none;
}

.select2-container.form-control {
    height: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
    /*padding-left: 10px;*/
    display: block;
    box-shadow: none;
}

.breadcrumb {
    margin-bottom: 0;
}

div.data-tables-responsive {
    overflow-x: hidden;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  padding-top:70px;
}

.footer {
    position: absolute;
    bottom: -45px;
    width: 100%;
    height: 45px;
    background-color: #f5f5f5;
}

.social-icon-footer i {
    text-align: center;
    width: 20px;
    height: 20px;
}
.footer h4 {
    margin-top: 11px;
    margin-bottom: 11px;
    text-align: right;
}

a.social-icon-footer {
    text-decoration: none;
}

.social-icon-footer .fa-facebook{
    color: #3b5998;
}

.social-icon-footer .fa-twitter{
    color: #55acee;
}

.social-icon-footer .fa-google-plus{
    color: #dd4b39;
}

.social-icon-footer .fa-linkedin{
    color: #0077b7;
}

.progress-bar-inner-text {
    font-size: 97%;
    margin: 0 2px;
    text-shadow: 0px 0px 5px #000;
}

/* Jeff Custom CSS
-------------------------------------------------- */
.banner {
    text-align: center;
    background-image: url("http://www.linders.ie/imglib/linders2013/service.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .jumbotron {
    background-color: rgba(0, 0, 0, 0.65);
    padding-top: 6%;
    padding-bottom: 6%;
}

.services {
    text-align: center;
}

#cart {
    text-align: center;
}

.center {
  margin: 0 auto;
  float: none;
}

.call_to_action .fa {
  font-size: 50px;
  border-radius: 200px;
  border: 30px solid #fc9a00;
  background: #fc9a00;
}

.navbar {
    background-color: rgba(252, 154, 0, 0.95)!important;
    box-shadow: 0px 4px 0px rgba(223, 46, 27, 0.3);
    border: 0px;
    padding: 10px 0px;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.banner .container {
    text-shadow:1px 1px 1px #555;
}

.banner h1, .banner p{
    color:#fff;
}

.org-btn {
    border-radius:0px;
    background-color:#097290;
    border:0px;
    text-shadow:none;
    transition: all 0.5s ease!important;
}

.cancel-btn {
    border-radius:0px;
    border:0px;
    text-shadow:none;
    transition: all 0.5s ease!important;
}

.org-btn:hover {
    background-color:#0DA3CD;
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.dropdown-menu {
    border:0px;
}

.footer {
    background-color: rgba(252, 154, 0, 0.4);
}

.angle {
  display: block;
  background: #fc9a00;
  height: 100px;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  background-clip: padding-box;
  -webkit-backface-visibility: hidden;
}

.angle.top {
  bottom: auto;
  top: -30px;
}

.angle.right-corner {
  -webkit-transform: skewY(1.8deg);
  -ms-transform: skewY(1.8deg);
  transform: skewY(1.8deg);
}

.angle.left-corner {
  -webkit-transform: skewY(-1.8deg);
  -ms-transform: skewY(-1.8deg);
  transform: skewY(-1.8deg);
}

#how_to {
    position:relative;
    background: #fc9a00;
    padding:100px 0px;
}

.services, #book_now {
  background: #fff;
  padding:100px 0px;
}

#book_now{
    position: relative;
}

#why-us {
  background: #fc9a00;
  padding:100px 0px;
  position:relative;
}

#why-us:after{
  content: "";
  background-image: url("http://www.linders.ie/imglib/linders2013/service.jpg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1; 
}

#why-us .container{
  z-index:2;
  position:relative;
}

.jumbotron {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(252, 154, 0, 1)!important;
}

.decor-top {
    bottom: 100%;
}

[class*="decor-"] {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
}

.swatch-yellow-black .decor, [class*="swatch-"] .swatch-yellow-black .decor {
    stroke: #1C1E20;
    fill: #fc9a00;
}

[class*="decor-"] svg {
    height: 101%;
}

svg:not(:root) {
    overflow: hidden;
}

.decor {
    position: relative;
    margin: 0px auto;
    display: block;
}
.services
 {
    position: relative;
    z-index: 4;
    padding: 96px 0px;
}

.services.has-bottom.has-top {
    z-index: 20;
}