.debug-warning {
    position: absolute;
    top: 41px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.full-width {
    width: 100%;
}

.table-notop > tbody > tr:first-child > th, .table-notop > tbody > tr:first-child > td {
    border-top: none;
}

.select2-container.form-control {
    height: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
    /*padding-left: 10px;*/
    display: block;
    box-shadow: none;
}

.breadcrumb {
    margin-bottom: 0;
}

div.data-tables-responsive {
    overflow-x: hidden;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
  width: 100%;
  background-color: #EEE;
  position: absolute;
  bottom: -178px;
  height: auto;
}

.footer .list-unstyled {
  text-align:right;
}

.footer .navbar-brand {
    height: 100px;
    width: 100%;
}

.footer li{
  font-size:12px;
}

#contact-number {
  font-family: 'Fjalla One', sans-serif;
  font-size:20px;
  color:#444;
}

.social-icon-footer i {
    text-align: center;
    width: 30px;
    color:#444!important;
    font-size:20px;
    height: 20px;
}
.footer h4 {
    margin-top: 11px;
    margin-bottom: 11px;
    text-align: left;
}

a.social-icon-footer {
    text-decoration: none;
}

.social-icon-footer .fa-facebook{
    color: #3b5998;
}

.social-icon-footer .fa-twitter{
    color: #55acee;
}

.social-icon-footer .fa-google-plus{
    color: #dd4b39;
}

.social-icon-footer .fa-linkedin{
    color: #0077b7;
}

.progress-bar-inner-text {
    font-size: 97%;
    margin: 0 2px;
    text-shadow: 0px 0px 5px #000;
}

/* Jeff Custom CSS
-------------------------------------------------- */
h1, h2, h3, h4, a {
  font-family: 'Fjalla One', sans-serif;
}

p {
  font-family: 'Cantarell', sans-serif;
}

.banner {
    text-align: center;
    background-image: url("http://www.linders.ie/imglib/linders2013/service.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .jumbotron {
    background-color: rgba(0, 0, 0, 0.65);
    padding-top: 6%;
    padding-bottom: 6%;
    height:100vh;
}

.services {
    text-align: center;
}

#cart {
    text-align: center;
}

.center {
  margin: 0 auto;
  float: none;
}

.call_to_action .fa {
  font-size: 50px;
  border-radius: 200px;
  border: 30px solid #fc9a00 ;
  background: #fc9a00 ;
}

.navbar {
    background-color: #fff!important;
    box-shadow: 0px 4px 0px rgba(223, 46, 27, 0.3);
    border: 0px;
    padding: 10px 0px;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color:#222;
}

.banner .container {
    text-shadow:1px 1px 1px #555;
        margin-top: 8%;
}

.banner h1, .banner p{
    color:#fff;
    font-family: 'Fjalla One', sans-serif;
}

.org-btn {
    border-radius:0px;
    background-color:#538AD1;
    border:0px;
    text-shadow:none;
    transition: all 0.5s ease!important;
}

.cancel-btn {
    border-radius:0px;
    border:0px;
    text-shadow:none;
    transition: all 0.5s ease!important;
}

.org-btn:hover {
    background-color:#0DA3CD;
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.dropdown-menu {
    border:0px;
}

.angle {
  display: block;
  background: #eee;
  height: 100px;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  background-clip: padding-box;
  -webkit-backface-visibility: hidden;
}

.angle.top {
  bottom: auto;
  top: -30px;
}

.angle.right-corner {
  -webkit-transform: skewY(1.8deg);
  -ms-transform: skewY(1.8deg);
  transform: skewY(1.8deg);
}

.angle.left-corner {
  -webkit-transform: skewY(-1.8deg);
  -ms-transform: skewY(-1.8deg);
  transform: skewY(-1.8deg);
}

#how_to {
    position:relative;
    background: #eee;
    padding:100px 0px;
}

.services, #book_now {
  background: #fff;
  padding:100px 0px;
}

#book_now{
    position: relative;
}

#book_now .fa {
color: orange;
font-size: 28px;
}

#book_now h3, #book_now h1, #book_now p {
color:#333;
}

.list_service {
  padding-left:30px;
}

#book_now p {
line-height: 2.2;
}

#why-us {
  background: #538ad1;
  padding:100px 0px;
  position:relative;
  color: #fff;
}

#why-us .btn {
  background:#FFA500;
  margin-top:40px;
}

#why-us:after{
  content: "";
  background-image: url("http://www.linders.ie/imglib/linders2013/service.jpg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1; 
}

#why-us .container{
  z-index:2;
  position:relative;
}

.jumbotron {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(252, 154, 0, 1)!important;
}

.decor-top {
    bottom: 100%;
}

[class*="decor-"] {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
}

.swatch-yellow-black .decor, [class*="swatch-"] .swatch-yellow-black .decor {
    stroke: #1C1E20;
    fill: #fff;
}

[class*="decor-"] svg {
    height: 101%;
}

svg:not(:root) {
    overflow: hidden;
}

.decor {
    position: relative;
    margin: 0px auto;
    display: block;
}
.services
 {
    position: relative;
    z-index: 4;
    padding: 96px 0px;
}

.services.has-bottom.has-top {
    z-index: 20;
}

.navbar-brand {
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

.navbar-nav li a {
  font-size:18px;
}

.navbar-nav li #register{
border-bottom: 3px solid #FC9A00!important;
border-top: 3px solid #FC9A00!important;
}

.navbar-nav li #login{
    border-top: 3px solid rgb(83, 138, 209) !important;
    border-bottom: 3px solid rgb(83, 138, 209) !important;
    margin-right: 5px;
}

.login-window{
  padding-top:10%;
}

.form-control {
    height: 54px;
    padding: 6px 12px;
    font-size: 20px;
    color: #000;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #777;
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Fjalla One', sans-serif;
}

.alert{
  margin-bottom:0px;
  font-family: 'Fjalla One', sans-serif;
  font-size:15px;
}

.panel {
    border-radius: 0px!important;
    box-shadow: none!important;
    border: 1px solid #ddd!important;
}

.btn {
  font-family: 'Fjalla One', sans-serif;
  border-radius: 0px;
  padding: 10px 30px;  
}

.panel-body {
    font-family: 'Cantarell', sans-serif;
}

label {
    font-family: 'Cantarell', sans-serif;
  }

.nav-tabs > li > a {
  border-radius:0px!important;
}

@media (min-width: 768px){
.jumbotron h1 {
    font-size: 100px!important;
}
}