.debug-warning {
    position: absolute;
    top: 41px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.full-width {
    width: 100%;
}

.table-notop > tbody > tr:first-child > th, .table-notop > tbody > tr:first-child > td {
    border-top: none;
}

.select2-container.form-control {
    height: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
    /*padding-left: 10px;*/
    display: block;
    box-shadow: none;
}

.breadcrumb {
    margin-bottom: 0;
}

div.data-tables-responsive {
    overflow-x: hidden;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}

.social-icon-footer i {
    text-align: center;
    width: 20px;
    height: 20px;
}
.footer h4 {
    margin-top: 11px;
    margin-bottom: 11px;
    text-align: right;
}

a.social-icon-footer {
    text-decoration: none;
}

.social-icon-footer .fa-facebook{
    color: #3b5998;
}

.social-icon-footer .fa-twitter{
    color: #55acee;
}

.social-icon-footer .fa-google-plus{
    color: #dd4b39;
}

.social-icon-footer .fa-linkedin{
    color: #0077b7;
}

.progress-bar-inner-text {
    font-size: 97%;
    margin: 0 2px;
    text-shadow: 0px 0px 5px #000;
}
