.debug-warning {
    position: absolute;
    top: 41px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.full-width {
    width: 100%;
}

.table-notop > tbody > tr:first-child > th, .table-notop > tbody > tr:first-child > td {
    border-top: none;
}

.select2-container.form-control {
    height: inherit;
    padding: 0;
    border: none;
    background-color: transparent;
    /*padding-left: 10px;*/
    display: block;
    box-shadow: none;
}

.breadcrumb {
    margin-bottom: 0;
}

div.data-tables-responsive {
    overflow-x: hidden;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}

.social-icon-footer i {
    text-align: center;
    width: 20px;
    height: 20px;
}
.footer h4 {
    margin-top: 11px;
    margin-bottom: 11px;
    text-align: right;
}

a.social-icon-footer {
    text-decoration: none;
}

.social-icon-footer .fa-facebook{
    color: #3b5998;
}

.social-icon-footer .fa-twitter{
    color: #55acee;
}

.social-icon-footer .fa-google-plus{
    color: #dd4b39;
}

.social-icon-footer .fa-linkedin{
    color: #0077b7;
}

.progress-bar-inner-text {
    font-size: 97%;
    margin: 0 2px;
    text-shadow: 0px 0px 5px #000;
}

/* Jeff Custom CSS
-------------------------------------------------- */
.center {
  margin: 0 auto;
  float: none;
}

.call_to_action .fa {
  font-size: 150px;
}

.navbar {
    background-color: #2EB2D6 !important;
    border: 0px;
    box-shadow: 0px -5px 10px 2px #000;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.banner .container {
    margin-top: 10%;
    text-shadow:1px 1px 1px #555;
}

.banner h1, .banner p{
    color:#fff;
}

.org-btn {
    border-radius:0px;
    background-color:#097290;
    border:0px;
    text-shadow:none;
    transition: all 0.5s ease!important;
}

.cancel-btn {
    border-radius:0px;
    border:0px;
    text-shadow:none;
    transition: all 0.5s ease!important;
}

.org-btn:hover {
    background-color:#0DA3CD;
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.dropdown-menu {
    border:0px;
}

.footer {
    background-color: rgba(46, 178, 214, 0.4);
}

.angle {
  display: block;
  background: #fff;
  height: 100px;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  background-clip: padding-box;
  -webkit-backface-visibility: hidden;
}

.angle.top {
  bottom: auto;
  top: -30px;
}

.angle.right-corner {
  -webkit-transform: skewY(1.8deg);
  -ms-transform: skewY(1.8deg);
  transform: skewY(1.8deg);
}

.angle.left-corner {
  -webkit-transform: skewY(-1.8deg);
  -ms-transform: skewY(-1.8deg);
  transform: skewY(-1.8deg);
}

#how_to {
    position:relative;
    padding:100px 0px;
}

.services, #book_now {
  background: #f5f3f2;
  padding:100px 0px;
}

.jumbotron {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #1DA0C3;
}