{% extends 'base.html' %}

{% block content %}
    <dl class="dl-horizontal">

        <dt>Date</dt>
        <dd>{{ appt.date }}</dd>
        <dt>Time</dt>
        <dd>{{ appt.get_time_slot_display }}</dd>
        <dt>Address</dt>
        <dd>{{ appt.address }}</dd>
        <dt>Technician Assigned</dt>
        <dd>
            {% if appt.technician %} {# doesn't show technician #}
                {{ appt.technician.all }}
            {% else %}
                None
            {% endif %}
        </dd>
    </dl>
    <a href="#" class="btn btn-primary btn-lg org-btn hvr-shrink">
        Charge
    </a>
{% endblock %}