{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <style>
        h2 {
            margin-bottom: 20px;
        }

        .addr-options {
            padding: 0;
        }

        .panel-title.addr-name{
            display: inline-block;
        }

    </style>
{% endblock %}

{% block content %}

    <div>
        <h2>
            My Appointments
        </h2>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title addr-name">Appointment Info</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>Date: {{ appt.date }}</li>
                            <li>Time: {{ appt.get_time_slot_display }}</li>
                            <li>
                                Technician:
                                {% if appt.technician %}
                                    <ul>
                                     {% for tech in appt.technician.all %}
                                         <li>{{ tech }}</li>
                                     {% endfor %}
                                    </ul>
                                {% else %}
                                     None
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title addr-name">Contact Info</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>Customer Name: {{ appt.user.get_full_name }}</li>
                            <li>Phone Number: {{ appt.user.profile.phone_number}}</li>
                            <li>Address: {{ appt.address }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title addr-name">Cars & Services</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            {% for servicedcar in appt.servicedcar_set.all %}
                                <li><b>{{ servicedcar.car }}:</b></li>
                                {% for service in servicedcar.services.all %}
                                    <li><ul><li>{{ service.name }}</li></ul></li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% if appt.additional_info %}
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title addr-name">Additional Info</h3>
                    </div>
                    <div class="panel-body">
                        {{ appt.additional_info }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>

    {% if not appt.completed %}
        <form method="post" action="completed/">
        {% csrf_token %}
        <input class="btn btn-primary btn-lg hvr-shrink" type="submit" value="Completed"/>
    </form>
    {% endif %}

{% endblock %}