{% extends 'bootstrap3/bootstrap3.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_title %}{% block title %}{% endblock title %} | FourBrothers{% endblock bootstrap3_title %}

{% block bootstrap3_extra_base_head %}
    {#    <link class="simplex-sheet" href="{% static 'bootstrap/bootstrap-simplex.min.css' %}" media="all" rel="stylesheet">#}
{#    <link class="simplex-sheet" href="{% static 'bootstrap/bootstrap-flatly.min.css' %}" media="all" rel="stylesheet">#}
    <link href="{% static 'css/main.css' %}" media="all" rel="stylesheet">
    {#    <link href="{% static 'css/main-simplex.css' %}" media="all" rel="stylesheet">#}
{#    <link href="{% static 'css/main-flatly.css' %}" media="all" rel="stylesheet">#}
    <!-- FAVICON -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Cantarell' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <meta name="google-site-verification" content="K54oM7f2QZzRQ9iLp6kZL1AdaKdjXcD4FBY0iqn2_AA" />
    <link rel="stylesheet" href="{% static 'css/hover.min.css' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/jquery.aniview.min.js' %}"></script>
{% endblock %}

{% block bootstrap3_content %}
    {% if DEBUG %}
        <span class="label label-warning debug-warning">DEMO MODE</span>
    {% endif %}
    <nav class="navbar navbar-fixed-top navbar-white navbar-default">
        {#<nav class="navbar navbar-fixed-top navbar-inverse">#}
        <div class="container">
            <div class="navbar-header">
                <!-- Collapse buttons -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /Collapse buttons -->
                <a class="navbar-brand" href="{% url 'homepage' %}">
                                       <img height="100%" src="{% static 'img/logo-02A.png' %}">
                </a>
            </div>
            <!-- Collapsible navbar -->
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'homepage' %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'services' %}">
                            Services
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}">
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">
                            Contact
                        </a>
                    </li>
                {% if user.is_authenticated %}
                    {#                    <ul class="nav navbar-nav">#}
                    {#                        <li {% if request.path == '/portal/assets/' %}class="active"{% endif %}>#}
                    {#                            <a href="{% url 'asset-list' %}">Assets</a>#}
                    {#                        </li>#}
                    {#                        <li {% if request.path == '/portal/jobs/' %}class="active"{% endif %}>#}
                    {#                            <a href="{% url 'job-list' %}">Jobs</a>#}
                    {#                        </li>#}
                    {#                        <li {% if request.path == '/portal/flights/' %}class="active"{% endif %}>#}
                    {#                            <a href="{% url 'flight-list' %}">Flights</a>#}
                    {#                        </li>#}
                    {#                        <li {% if request.path == '/portal/accounting/' %}class="active"{% endif %}>#}
                    {#                            <a href="{% url 'accounting-home' %}">Accounting</a>#}
                    {#                        </li>#}
                    {#                    </ul>#}
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            <i class="fa fa-user"></i> Welcome {{ user.get_short_name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'profile-detail' %}">Profile</a></li>
                            <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                            <li><a href="{% url 'account_email' %}">Manage Email Addresses</a></li>
{#                        {% if user.is_authenticated  %}#}
                            {% if user.profile.type == 'customer' %}
                                <li><a href="{% url 'address-list' %}">Manage Addresses</a></li>
                                <li><a href="{% url 'car-list' %}">Cars</a></li>
                                <li><a href="{% url 'appt-list' %}">Appointments</a></li>
                            {% endif %}
{#                        {% endif %}#}

                            {% if user.is_staff or user.is_superuser %}
                                <li><a target="_blank" href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'profile-detail' %}">Loyalty points <span class="badge">{{ user.profile.loyalty_points }}</span></a></li>
                    <li>
                        <a id="register" href= "{% url 'appt-choose-type' %}">
                            BOOK NOW
                        </a>
                    </li>
                {% else %}
                    <li><a id="login" href="{% url 'account_login' %}">LOGIN</i>
</a></li>
                    <li><a id="register" href="{% url 'account_signup' %}">SIGN UP</a></li>
                {% endif %}
                </ul>
            </div>
            <!-- /Collapsible navbar -->
        </div>
    </nav>


    <div class="containter">
        {% bootstrap_messages %}
    </div>

    {% block no_container_content %}
    {% endblock no_container_content %}

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
<div id="newsletter">
     <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <div class="row">
                                      <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//fourbrothers.us12.list-manage.com/subscribe/post?u=570fffc48f7b113f2966570b7&amp;id=61c0a7d079" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <h2>Sign up for our Newsletter and Receive Special Discounts</h2>
    <input style="width:50%;margin: 0px auto;" type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_570fffc48f7b113f2966570b7_61c0a7d079" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

                </div>
            </div>
        </div> 
    </div>
</div>
<div id="socialbar">
     <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="col-lg-4 text-center">
                <a href="https://facebook.com/fourbrothersautoservice/" target="_blank"><h3><i class="fa fa-facebook"></i>Like us on Facebook</h3></a>
                </div>
                <div class="col-lg-4 text-center">
                 <a href="https://instagram.com/fourbrothersauto/" target="_blank"><h3><i class="fa fa-instagram"></i>Follow us on Instagram</h3></a>
                </div>
                <div class="col-lg-4 text-center">
                 <a href="https://twitter.com/4brothersauto" target="_blank"><h3><i class="fa fa-twitter"></i>Follow us on Twitter</h3></a>
                </div>
            </div>
        </div> 
    </div>
</div>            
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6" style="padding-top: 20px;">
                <p id="contact-number"><a href="tel:+18003530742">1-800-353-0742</a></p>
                <p id="contact-number"><a href="mailto:info@fourbrothers.ca">INFO@FOURBROTHERS.CA</a></p>
                    <h4>
                    <i class="fa fa-cc-visa"></i>
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-amex"></i>
                    </h4>
                </div>
                <div class="col-xs-6" style="padding-top:20px;">
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-muted" href="{% url 'careers' %}">
                                Careers
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="{% url 'terms' %}">
                                Terms & Conditions
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="{% url 'corporate' %}">
                                Corporate
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="{% url 'privacy-statement' %}">
                                Privacy Statement
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="{% url 'contact' %}">
                                Report an Error
                            </a>
                        </li>
                        <li>
                            <a class="text-muted" href="{% url 'faq' %}">
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
                  <div class="col-md-12" style="clear: both;">
                    <p class="text-muted" style="margin-top: 11px; margin-bottom: 11px;">
                        <small style="color:#eee;"><i class="fa fa-copyright"></i> 2015 FourBrothers Inc.</small>
                    </p>
                </div>
            </div>

        </div>
    </footer>
{% endblock bootstrap3_content %}