{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'css/index.css' %}" media="all" rel="stylesheet">
{% endblock %}


{% block no_container_content %}
<div class="banner">
     <div class="jumbotron">
        <div class="container">
        <div class="col-lg-6 text-left">
            <h1 style="margin-bottom:0px;">Sign Up To WIN!</h1>

            <p><span style="color:#FC9A00;">Sign Up</span> & Follow Us On  <a style="color:#125688;text-shadow: 1px 2px 2px rgb(0, 0, 0);" href="https://instagram.com/fourbrothersauto/" target="_blank">Instagram</a> or <a style="color:#3b5998;text-shadow: 1px 2px 2px rgb(0, 0, 0);" href="https://facebook.com/fourbrothersautoservice/" target="_blank">Facebook</a> For <br>
            Your Chance To Win 3 Free Tickets to a Toronto Raptors Game.</p>
            <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvstyle="color:#3b5998;" r-shrink">
                Book An Appointment!
            </a>
            </div>
              <div class="col-lg-6 text-left">
            <div class="aniview" av-animation="slideInRight">
               <div class="col-md-6 klausbg skinoneultimate hvr-float" style="height:200px;">
    <div class="klausheader skinoneucolor" style="height: 210px;">
      <div style="background:#fff;color:#000;width: 200px;"class="klaus_featured skinonebg">FEATURED</div>
    <h5>FOUR BROTHERS INTERIOR DETAIL</h5>
    <h3 class="klaus_price skinonecolor">$79.99</h3>
   <p>/per vehicle</p>
    <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                 Book Now
            </a>
    </div> 
  </div>
            </div>
               </div>
        </div>
    </div>
</div>
<div class="services swatch-yellow-black has-bottom">
     <div id="featured-services" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="row">
                  <h1>Mobile Auto Service</h1>
                  <p>Four Brothers is a mobile auto service company, offering a variety of auto services and accessories. <br><br>
                    Our experienced and highly trained technicians come directly to YOU! Book an appointment online that best fits your schedule and enjoy our premium services without having to leave your home or office.<br><br>
                    </p>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="col-lg-3 text-center">
             <img src="{% static 'img/oil_splash3.png' %}">
            <h2>Oil Services</h2>
            <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
            </div>
            <div class="col-lg-3 text-center">
            <img src="{% static 'img/Car-Cleaning-Kit.png' %}">
            <h2>Interior Detailing</h2>
             <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
            </div>
            <div class="col-lg-3 text-center">
             <img src="{% static 'img/tirestack.png' %}">
            <h2>Tire Services</h2>
             <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg  hvr-shrink">
                Book Now
            </a>
            </div>
            <div class="col-lg-3 text-center">
            <img src="{% static 'img/999999-6941987118330_1.jpg' %}">
            <h2>Automotive Products</h2>
             <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg  hvr-shrink">
                Book Now
            </a>
            </div>
        </div>
         <hr>
         <a href="{% url 'services' %}" class="btn btn-primary btn-lg hvr-shrink">
                See Our Full List of Services
            </a>
    </div>
 </div>
 <div id="how_to">
    <div class="container">
        <div class="row">
             <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="row">
                <h1>How it Works</h1>
                <p>Scheduling an appointment is easy! All you have to do is click on one of the many ‘Book Now’ icons throughout the website, schedule an appointment online, and one our technicians will arrive at your requested address during the scheduled appointment time. <br> <br>Appointments are offered 7 days a week!</p>
             </div>
            </div>
              <div style="clear:both;"></div>
            <div class="col-lg-3 text-center">
                <i class="fa fa-user-plus"></i>
                <h2>Sign-up</h2>
            </div>
            <div class="col-lg-3 text-center">
            <i class="fa fa-calendar-check-o"></i>
                <h2>Schedule an Appointment</h2>
            </div>
             <div class="col-lg-3 text-center">
             <i class="fa fa-credit-card"></i>
                <h2>Pay Online</h2>
            </div>
             <div class="col-lg-3 text-center">
             <i class="fa fa-thumbs-up"></i>
                <h2>Relax and Enjoy Life</h2>
            </div>
        </div>
    </div>
</div>
<div id="book_now">
     <div class="container">
        <div class="row">
            <div class="col-lg-2">
            <h1><span style="color: #538AD1;">Who</span><span style="color:#777;">&Where</span></h1>
            </div>
            <div class="col-lg-10">
            <h3>We provide service to the Greater Toronto Area! Not in the GTA? Drop us a line - our service area is always expanding. <a class="text-muted" href="{% url 'contact' %}">Click here</a>&nbsp;for a full list of service regions.</h3>
            </div>
            <div class="col-lg-10 col-lg-offset-2 text-center">
             <h3><i style="padding:0px 10px 0px 10px;color:#317207;" class="fa fa-check-square-o"></i>Homes/Townhouses<i style="padding:0px 10px 0px 10px;color:#317207;" class="fa fa-check-square-o"></i>Condominuims<i style="padding:0px 10px 0px 10px;color:#317207;" class="fa fa-check-square-o"></i>Select Office Locations</h3>
            </div>
        </div>
    </div>
 </div>
 <div id="why-us">
 <div id="googlemaps" class="map"><iframe id="map_canvas1" src="https://www.google.com/maps/d/embed?mid=z5avF7RKDSEs.kpRb6xDYQWMo" width="640" height="480"></iframe>
 </div>
 </div>  
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}


