{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}Four Brothers{% endblock title %}
{% block bootstrap3_extra_head %}
    <link href="{% static 'css/index.css' %}" media="all" rel="stylesheet">
     <meta name="description" content="We specialize in automotive interior detailing, tire change and repair. Four Brothers is mobile auto service with a focus on keeping your car clean!" />
     <title>The Best Interior Detailing</title>
    <meta name="keywords" content="interior detail, interior detailing, interior detail toronto, toronto car cleaning, automotive detailing, vehicle cleaning, oil change, oil change toronto, tire change, tire change toronto, tire toronto, oil toronto, car oil, tire, car, oil, cleaning, automotive repair, car repair, mobile auto, mobile technician, oil change gta, tire change gta, interior detail gta, car interior detailing, detaiing, detailing service" /> 
{% endblock %}


{% block no_container_content %}
<div class="banner">
     <div class="jumbotron">
        <div class="container">
        <div class="col-lg-7 text-left">
            <h1 style="margin-bottom:0px;">BEST CAR SERVICE<br>Vote To WIN!</h1>

            <p><span style="color:#FC9A00;">Sign Up</span> & Vote for us! <a style="color:#fff;text-shadow: 1px 2px 2px rgb(0, 0, 0);" href="http://readerschoice.nowtoronto.com/l/NOW-Readers-Choice-2016/Ballot/ShoppingampServices" target="_blank"><span style="color:#cc0000;">NOW Magazine's</span> Readers' Choice 2016 Best Car Service</a> For Your Chance To Win an Interior Detailing!</p>
            <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvstyle="color:#3b5998;" r-shrink">
                Book An Appointment!
            </a>
            </div>
             
        </div>
    </div>
    </div>
    <div style="background: rgba(83, 138, 209, 0.6) none repeat scroll 0% 0%;;min-height:80px;margin-top:-80px"><div class="col-lg-12 text-left" style="margin-top:0px;"><h1 style="color:#fff;margin-bottom:0px;margin-top:0px;padding-top: 20px;padding-bottom: 20px;">FOUR BROTHERS Interior Detailing Service <span style="color:#FC9A00;">SALE</span> Use PROMO CODE FB2016 For $10 OFF - $109.99   <a style="margin: 0px;"href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
</h1></div></div>

<div class="services swatch-yellow-black has-bottom">
     <div id="featured-services" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="row">
                  <h1>The Best Interior Detailing and Tire Change</h1>
                  <p>Four Brothers is a mobile auto service company, offering a variety of auto services and accessories. Our focus is on keeping your car clean with a special focus on <a href="https://en.wikipedia.org/wiki/Auto_detailing" target="_blank">interior detaling services</a>.<br><br>
                    Our experienced and highly trained technicians come directly to YOU! Book an appointment online that best fits your schedule, enjoy our automotive services without having to leave your home or office. Most importantly, we only use the very best for our tire and interior detailing services.<br><br>
                    </p>
                </div>
            </div>
            <div style="clear:both;"></div>
           
            <div class="col-lg-4 text-center">
            <img src="{% static 'img/Car-Cleaning-Kit.png' %}" alt="Clean Car" description="Car cleaning and interior detailing">
            <h2>Interior Detailing Service</h2>
             <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                Book Now
            </a>
            </div>
            <div class="col-lg-4 text-center">
             <img src="{% static 'img/tirestack.png' %}" alt="Tire Change" description="Tire repair and change">
            <h2>Tire Change</h2>
             <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg  hvr-shrink">
                Book Now
            </a>
            </div>
            <div class="col-lg-4 text-center">
            <img src="{% static 'img/999999-6941987118330_1.jpg' %}" alt="Car Products" description="Automotive products">
            <h2>Automotive Products</h2>
             <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg  hvr-shrink">
                Book Now
            </a>
            </div>
        </div>
         <hr>
         <a href="{% url 'services' %}" class="btn btn-primary btn-lg hvr-shrink">
                See Our Full List of Services
            </a>
    </div>
 </div>
 <div id="how_to">
    <div class="container">
        <div class="row">
             <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="row">
                <h1>How it Works</h1>
                <p>Scheduling an appointment is easy! All you have to do is click on one of the many ‘Book Now’ icons throughout the website, schedule an appointment online, and one our technicians will arrive at your requested address during the scheduled appointment time. <br> <br>Detailing and tire service appointments are offered 7 days a week!</p>
             </div>
            </div>
              <div style="clear:both;"></div>
            <div class="col-lg-3 text-center">
                <i class="fa fa-user-plus"></i>
                <h2>Sign-up</h2>
            </div>
            <div class="col-lg-3 text-center">
            <i class="fa fa-calendar-check-o"></i>
                <h2>Schedule an Appointment</h2>
            </div>
             <div class="col-lg-3 text-center">
             <i class="fa fa-credit-card"></i>
                <h2>Pay Online</h2>
            </div>
             <div class="col-lg-3 text-center">
             <i class="fa fa-thumbs-up"></i>
                <h2>Relax and Enjoy Life</h2>
            </div>
        </div>
    </div>
</div>
<div id="book_now">
     <div class="container">
        <div class="row">
            <div class="col-lg-2">
            <h1><span style="color: #538AD1;">Who</span><span style="color:#777;">&Where</span></h1>
            </div>
            <div class="col-lg-10">
            <h3>We provide service to the Greater Toronto Area! Our service area is always expanding. <a class="text-muted" href="{% url 'contact' %}">Click here</a>&nbsp;for a full list of service regions or submit a review.</h3>
            </div>
            <div class="col-lg-10 col-lg-offset-2 text-center">
             <h3><i style="padding:0px 10px 0px 10px;color:#317207;" class="fa fa-check-square-o"></i>Homes/Townhouses<i style="padding:0px 10px 0px 10px;color:#317207;" class="fa fa-check-square-o"></i>Condominuims<i style="padding:0px 10px 0px 10px;color:#317207;" class="fa fa-check-square-o"></i>Select Office Locations</h3>
            </div>
        </div>
    </div>
 </div>
 <div id="why-us">
 <div id="googlemaps" class="map"><iframe id="map_canvas1" src="https://www.google.com/maps/d/embed?mid=z5avF7RKDSEs.kpRb6xDYQWMo" width="640" height="480"></iframe>
 </div>
 </div>  
 <script>
 $('.aniview').AniView();
 </script>
{% endblock no_container_content %}


