{% extends 'account/base.html' %}

{% block account_nav_profile %} active {% endblock account_nav_profile %}
{% block account_content %}
<div class="app-content">
    <div class="container">
        <div class="row">
      <div class="col-lg-9">
 <h1>My Loyalty Points<h1> 
 <h1 style="font-size:6rem;color:#5CB85C;">{{ user.profile.loyalty_points }}</h1>
 <h2>How to Redeem Points<h2> 
 <div class="col-lg-6">
 <h4>Let us REWARD you for being a loyal member of Four Brothers!</h4>
 <p>
Four Brothers wants to reward our customers for their loyalty! Once you create a profile with Four Brothers, you will be automatically signed up for our Loyalty Program. No extra work is required!<br><br>
Once you sign up, you will earn ONE POINT for every $20 dollars you spend on any Four Brothers’ services or products! For every 10 POINTS you collect, you will receive $10 off your next Four Brothers’ product or service. You will also have access to special offers and discounts available.<br><br> 
Create a profile today and start earning!
Each loyalty reward point is equal to $1, which can be used in increments of $10, $20, $30, $40, or $50 off your next appointment.
</p>
</div>
 <div class="col-lg-6">
 <h4>Special Offers</h4>
 <p>Our Loyalty Program rewards our customers with special offers and discounts on future Four Brothers’ Services. Based upon the customer’s previous services, customers will be able to earn loyalty points. This allows Four Brothers to give back to our loyal customers and thank them for their continuous commitment to helping Four Brothers bring convenience and quality service to the Auto Service Industry.</p>
<h4>An Example...</h4>
<p>Appointment total Cost: $100.00
Loyalty Points Earned: 5 (1 loyalty reward point for every $20 spent on your appointment)
Once you receive at least 10 loyalty reward points, you will be able to deduct $10 dollars off your next appointment.</p>
</div>
<i><p>Please note that Loyalty Points cannot be used for cash value or combined with any other promotion during the same appointment.<p></i>
 </div>
 <div class="col-lg-3">
 
    <div class="page-header" style="margin-top:0px;">
        <h1>My Details</h1>
    </div>
    <div class="well">
        <h2>Name</h2>
        <p>{{ user.get_full_name }}</p>
        <h2>Phone</h2>
        <p>{{ user.profile.phone_number }}</p>

    <a href="{% url 'profile-edit' %}" class="btn btn-primary">Edit</a>
    </div>
    </div>
   <div class="col-lg-12">

        <h1>
            Past Appointments
        </h1>
        {% for appt_group in past_appointments %}
            <div class="row">
                {% for appt in appt_group %}
                    {% if appt %}
                        {% include 'appt_mgmt/appt-block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
</div>
</div>
</div>
</div>

{% endblock %}