{% extends 'account/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block account_nav_profile %} active {% endblock account_nav_profile %}
{% block account_content %}
    <div class="page-header">
        <h1>Edit profile</h1>
    </div>

    <div class="well">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-primary" type="submit" value="Save"/>
        </form>
    </div>


{% endblock account_content %}