{% extends 'base.html' %}

{% block content %}
    <div style="padding: 80px; 0px" id="single-apt-detail" class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12 center">
                <h1>Appointment Summary</h1>
                <h3>Date</h3>
                <p>{{ appt.date }}</p>
                <h3>Time<h3>
                <p>{{ appt.get_time_slot_display }}</p>
                <h3>Address<h3>
                <p>{{ appt.address }}</p>
                <h3>Services<h3>
                <p>{{ appt.services }}</p>
                {% for serviced_car in serviced_cars %}
                    <p> {{ serviced_car.car }}</p>
                        
                            {% for service in serviced_car.services.all %}
                                <p>{{ service }}</p>
                            {% endfor %}

                   


                   
                {% endfor %}
        </div>
    </div>

{% endblock %}