{% extends 'appt_mgmt/appt_mgmt_base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Choose Service{% endblock title %}

{#{% block bootstrap3_extra_head %}#}
{#    {{ form.media }}#}
{#{% endblock %}#}

{% block content %}
    <div class="page-header" style="margin-top:0px;padding-top:50px;">
        <h1>Choose Service</h1>

        <p>Do not press your browser's back button or you will risk losing your progress.</p>
    </div>
    <div>
        {% bootstrap_form_errors form %}
    </div>
    <div class="row">
        <div class="well col-lg-6 column" style="margin-bottom:50px;">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% bootstrap_field form.car %}
                <div class="form-group">
                    <label class="control-label" for="id_services_0">Services</label>

                    <div id="id_services">
                        {% for service in form.services.field.queryset %}
                            <div class="checkbox">
                                <label for="id_services_{{ forloop.counter0 }}">
                                    <input class="" id="id_services_{{ forloop.counter0 }}" name="services"
                                           type="checkbox" value="{{ service.id }}">
                                    {{ service }}
                                    <p>
                                        {% if service.picture %}
                                            <img class="img-responsive" src="{{ service.picture.url }}" height="50"
                                                 width="50" alt="">
                                        {% else %}
                                            <img src="https://placehold.it/50x50" alt="">
                                        {% endif %}
                                        <small>
                                            {{ service.description }}
                                        </small>
                                    </p>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="min-order-warning alert alert-warning {% if total_so_far >= 39.99 %}hidden{% endif %}">
                    You should order at least $39.99 to checkout
                </div>
                <a href="{% url 'appt-cancel' pk=appt.pk %}"
                   class="btn btn-danger btn-lg cancel-btn hvr-shrink">Cancel</a>
                {% if available_cars.count > 1 %}
                    <input class="btn btn-primary btn-lg  hvr-shrink" type="submit" value="Save and Add Another"
                           name="_addanother">
                {% endif %}
                <input {% if total_so_far < 39.99 %}disabled{% endif %} class="btn btn-primary btn-lg hvr-shrink"
                       id="checkout-btn" type="submit" value="Checkout"/>

            </form>
        </div>
        <div id="cart" class="well col-md-4 column col-md-offset-1">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Cart:</h3>
                    <i class="fa fa-shopping-cart fa-3x"></i>
                </div>
                <div class="col-lg-6">
                    <div class="live-cart" data-amount={{ total_so_far }}>
                        <h3>${{ total_so_far }}</h3>

                        <p>+HST</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if serviced_cars %}
        <div class="row">
            <div class="col-md-12 well">
                <ul>
                    {% for serviced_car in serviced_cars %}
                        <li>
                            {{ serviced_car.car }}
                            <ul>
                                {% for service in serviced_car.services.all %}
                                    <li>{{ service }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block bootstrap3_extra_script %}
    <script type="text/javascript">
        window.onbeforeunload = function () {
            return 'You will lose your progress so far'
        };

        $(document).ready(function () {
            $("#checkout-btn").click(function () {
                if (!$(this).prop('disabled')) {
                    window.onbeforeunload = null;
                }
            });
        });
    </script>
{% endblock %}
