<div class="col-md-4 animated bounceInUp">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{% url 'appt-detail' pk=appt.pk %}">
                <h3 class="panel-title addr-name">
                    <i class="fa fa-calendar-check-o"></i>
                    {{ appt.get_full_name }}
                </h3>
            </a>

            {% if user.profile.type == 'manager' %}
                <div class="dropdown pull-right">
                    <button class="btn btn-link dropdown-toggle addr-options" type="button"
                            data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'appt-tech-edit' pk=appt.pk %}">Assign Technician</a></li>

                    </ul>
                </div>
            {% endif %}

        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>Date: {{ appt.date }}</li>
                <li>Time: {{ appt.get_time_slot_display }}</li>
                <li>
                    Technicians:
                    <ul>
                        {% for technician in appt.technician.all %}
                            <li>{{ technician }}</li>
                        {% empty %}
                            No one is assigned yet
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>