{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Update Appointment{% endblock title %}

{% block content %}
{#    {% if less_than_24h == True %}#}
{#        {{ appt.date }}#}
{#    {% endif %}#}
    <div class="page-header">
        <h1>Update Appointment</h1>
    </div>
    <div>
        {% bootstrap_form_errors form %}
    </div>
    <div class="well col-lg-6 column">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <a href="{% url 'homepage' %}" class="btn btn-danger btn-lg cancel-btn hvr-shrink">Cancel</a>
            <input class="btn btn-primary btn-lg org-btn hvr-shrink" type="submit" value="Save"/>
        </form>
    </div>
{% endblock content %}
