{% extends "account/base.html" %}


{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Appointments" %}{% endblock %}

{% block account_nav_appt %}active{% endblock %}

{% block bootstrap3_extra_head %}
    <style>
        h2 {
            margin-bottom: 20px;
        }

        .addr-options {
            padding: 0;
        }

        .panel-title.addr-name {
            display: inline-block;
        }

    </style>
{% endblock %}

{% block account_content %}
<div class="app-content">
    <div class="container">
        <div class="row">
    <div>
        <h2>My Appointments</h2>
            <div class="notice">
            <h4>Can’t be home?</h4> 
            <p>Four Brothers Auto Service now offers our customers the option to have their vehicle serviced while they are not home! All the customer needs to do is leave their vehicle key in a designated area and mention it while booking their appointment.</p>
            <small>
                <p>
                    <a href="{% url 'appt-choose-type' %}" class="btn btn-primary btn-lg hvr-shrink">
                        Book Appointment<span class="glyphicon glyphicon-plus"style="padding-left:5px;"></span>
                    </a>
                </p>
            </small>
</div>
        <h3>
            Upcoming Appointments
        </h3>
        {% for appt_group in upcoming_appointments %}
            <div class="row">
                {% for appt in appt_group %}
                    {% if appt %}
                        {% include 'appt_mgmt/appt-block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        {% empty %}
            <p>You don't have any appointments. Why don't you go ahead and
                <a href="{% url 'appt-choose-type' %}">book one?</a>
            </p>
        {% endfor %}

        <h3>
            Past Appointments
        </h3>
        {% for appt_group in past_appointments %}
            <div class="row">
                {% for appt in appt_group %}
                    {% if appt %}
                        {% include 'appt_mgmt/appt-block.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

{#        <h3>#}
{#            Pending Appointments#}
{#        </h3>#}
{#        {% for appt_group in pending_appointments %}#}
{#            <div class="row">#}
{#                {% for appt in appt_group %}#}
{#                    {% if appt %}#}
{#                        {% include 'appt_mgmt/appt-block.html' %}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endfor %}#}
    </div>
    </div>
    </div>
    </div>
{% endblock %}

