<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title addr-name">{{ appt }}</h3>

            <div class="dropdown pull-right">
                <button class="btn btn-link dropdown-toggle addr-options" type="button"
                        data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </button>
                <ul class="dropdown-menu">
                    {% if user.profile.type == 'manager' %}
                        <li><a href="{% url 'appt-tech-edit' pk=appt.pk %}">Assign Technician</a></li>
                    {% elif user.profile.type == 'customer' %}
                        <li><a href="{% url 'appt-edit' pk=appt.pk %}">Edit</a></li>
                    {% endif %} 
                    <li class="divider"></li>
{#                     <li><a class="delete-addr" href="{% url 'appt-delete' pk=appt.pk %}">Delete</a></li> #}
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li>Date: {{ appt.date }}</li>
                <li>Time: {{ appt.time_slot }}</li>
                <li>
                    Technician:
                    {% if appt.technician %}
                        <ul>
                         {% for tech in appt.technician.all %}
                             <li>{{ tech }}</li>
                         {% endfor %}
                        </ul>
                    {% else %}
                         None
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>