{% extends 'base.html' %}

{% block content %}
    <div style="padding: 80px; 0px" id="single-apt-detail" class="row">
        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                <h1>Appointment Summary</h1>
                <h3>Date</h3>
                <p>{{ appt.date }}</p>
                <h3>Time<h3>
                <p>{{ appt.get_time_slot_display }}</p>
                <h3>Address<h3>
                <p>{{ appt.address }}</p>
                <h3>Services<h3>
                <p>{{ appt.services }}</p>
                {% for serviced_car in serviced_cars %}
                    <h4> {{ serviced_car.car }}</h4>
                        
                            {% for service in serviced_car.services.all %}
                                <p>{{ service }}</p>
                            {% endfor %}

                   


                   
                {% endfor %}
        </div>
        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
        <h2>A Friendly Reminder...</h2>
        <h4>1. If parked underground be sure you specified your parking spot.</h4>
        <h4>2. Make sure the car is accessible and in a clean and safe environment.</h4>
        <h4>3. Leave your hood unlocked, and open just enough, to remain unlocked [if not home].</h4>
        <h4>4. If you have building security please notify them of your appointment.</h4>
        <h4>5. If you need to cancel your appointment please contact us.</h4>
        </div>
    </div>

{% endblock %}