{% extends 'appt_mgmt/appt_mgmt_base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Book Appointment{% endblock title %}

{% block content %}
<div class="app-content">
    <div class="container">
        <div class="row">
        <div class="col-lg-6">
    <div class="page-header" style="margin:0px 0px 20px 0px;">
        <h1 class="page-name">Book Appointment</h1>
        <h3>Do not press your browser's back button or you will risk losing your progress.</h3>
    </div>
    <div>
        <a style="display:none;" href="{% url 'appt-book-building' %}" class="btn btn-primary btn-lg  hvr-shrink">Office Location</a>
        <a href="{% url 'appt-book-house' %}" class="btn btn-primary btn-lg  hvr-shrink">Book Now</a>
    </div>
    </div>
      <div class="col-lg-6">
       <p>Four Brothers Auto Service now offers our customers the option to have their vehicle serviced while they are not home! All the customer needs to do is have their vehicle hood slightly open for oil changes and spare tires accessible for tire services.<br><br>
       If you live in a building with indoor parking, please ensure your building security is made aware of your scheduled appointment with Four Brothers Auto Service to make sure the technician can access your vehicle. 
       Remember to tell us which parking spot is yours if applicable.</p>
       </div>
    </div>
    </div>
    </div>
{% endblock content %}