<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Four Brothers Auto Service</title>
<link rel="stylesheet" type="text/css" href="http://zurb.com/playground/projects/responsive-email-templates/stylesheets/email.css "/>
</head>
<body bgcolor="#EEEEEE">
 
<table class="head-wrap" bgcolor="#FFFFFF">
<tr>
<td></td>
<td class="header container">
<div class="content">
<table bgcolor="#FFFFFF">
<tr>
<td><img style="width:200px;" src="https://fourbros-media.s3.amazonaws.com/static/img/logo-02A.png?Signature=zLlCOYgxWwtxhOXG%2Bho9d6htg7w%3D&Expires=1453276812&AWSAccessKeyId=AKIAJVEKSBR4C4STD2GA"/></td>
<td align="right"><h6 class="collapse">Appointment Confirmation</h6></td>
</tr>
</table>
</div>
</td>
<td></td>
</tr>
</table> 
 
<table class="body-wrap">
<tr>
<td></td>
<td class="container" bgcolor="#FFFFFF">
<div class="content">
<table>
<tr>
<td>
<h3>Hi, {{ appt.user.name }}</h3>
<p class="lead">Thanks for choosing Four Brothers Auto Service for your next Automotive Service Appointment. Please review the following details for your upcoming appointment.</p>
<p><i>1. If parked underground be sure you specified your parking spot.</i></p>
<p><i>2. Make sure the car is accessible and in a clean and safe environment.</i></p>
<p><i>3. Leave your hood unlocked, and open just enough, to remain unlocked [if not home].</i></p>
<p><i>4. If you have building security, please notify them of your appointment.</i></p>
<p><i>5. If you need to cancel your appointment please contact us.</i></p>

<h3>Date</h3>
<p>{{ appt.date }}</p>
                <h3>Time</h3>
                <p>{{ appt.get_time_slot_display }}</p>
                <h3>Address</h3>
                <p>{{ appt.address }}</p>
                <h3>Services</h3>
                <p>{{ appt.services }}</p>
                {% for serviced_car in serviced_cars %}
                    <h4 style="margin-top;margin-bottom:0px;"> {{ serviced_car.car }}</h4>
                        
                            {% for service in serviced_car.services.all %}
                                <p>{{ service }}</p>
                            {% endfor %}

                   


                   
                {% endfor %}
        </div>
</p>
 
<p style="background:#eeeeee"class="callout">
If you have any further inquires please visit our website <a style="color:#FC9A00"href="https://fourbrothers.ca">Click it! &raquo;</a>
</p> 
 
<table class="social" style="background:#323131;" width="100%">
<tr>
<td>
 
<table align="left" class="column">
<tr>
<td>
<h5 class="" style="color:#FFFFFF;">Connect with Us:</h5>
<p class=""><a href="https://www.facebook.com/fourbrothersautoservice/?_rdr=p" class="soc-btn fb">Facebook</a> <a href="https://twitter.com/4brothersauto" class="soc-btn tw">Twitter</a> <a href="https://plus.google.com/110708725541254700512" class="soc-btn gp">Google+</a></p>
</td>
</tr>
</table> 
 
<table align="left" class="column">
<tr>
<td>
<h5 class="" style="color:#FFFFFF;">Contact Info:</h5>
<p style="color:#FFFFFF;">Phone: <strong style="color:#FFFFFF;"><a style="color:#ffffff;" href="tel:+18003530742">1-(800)-353-0742</a></strong><br/>
Email: <strong><a style="color:#ffffff;" href="emailto:info@fourbrothers.ca">info@fourbrothers.ca</a></strong></p>
</td>
</tr>
</table> 
<span class="clear"></span>
</td>
</tr>
</table> 
</td>
</tr>
</table>
</div> 
</td>
<td></td>
</tr>
</table> 
 
<table class="footer-wrap">
<tr>
<td></td>
<td class="container">
 
<div class="content">
<table>
<tr>
<td align="center">
<p>
<a style="color:#000000" href="https://fourbrothers.ca/terms/">Terms</a> |
<a style="color:#000000" href="https://fourbrothers.ca/privacy-statement/">Privacy</a> |
<a style="color:#000000" href="https://fourbrothers.ca/faq/">FAQ</a> 
</p>
</td>
</tr>
</table>
</div> 
</td>
<td></td>
</tr>
</table> 
</body>
</html>